<div class="col-xs-12 col-md-4 no-padding" style="border: 1px solid #CCC;">

    <div id="cover"></div>

    <blockquote>
        <p id="name" class="sl-editable" style="margin-bottom: 0px;"></p>
        <div id="description" class="sl-editable"></div>
    </blockquote>

    <div class="center" style="padding: 12px;">

        <div class="infobox infobox-blue infobox-small infobox-dark">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-edit"></i>
            </div>
            <div class="infobox-data">
                <div class="infobox-content"><%= selink.userModel.get('postNum') %>件</div>
                <div class="infobox-content">投稿</div>
            </div>
        </div>

        <div class="infobox infobox-green infobox-small infobox-dark">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-group"></i>
            </div>
            <div class="infobox-data">
                <div class="infobox-content"><%= obj.memberNum %>人</div>
                <div class="infobox-content">メンバー</div>
            </div>
        </div>

    </div>

    <hr>

    <div class="center" style="padding: 12px;">
        <button class="btn btn-success btn-block btn-member">
            <i class="ace-icon fa fa-group"></i>&nbsp;お友達を誘う
        </button>
    </div>

</div>