<div class="isotope">

    <div class="stamp col-xs-12 col-md-4 no-padding" style="border: 1px solid #CCC;">

        <div style="position: relative;">
        <% if (obj.isMine) { %>
            <div id="cover"></div>
        <% } else if (obj.isParticipated) { %>
            <img src="<%= obj.cover %>">
            <button class="btn btn-success btn-leave" style="position: absolute; right: 10px; top: 10px;">
                <i class="ace-icon fa fa-plus"></i>&nbsp;参加中
            </button>
        <% } else { %>
            <img src="<%= obj.cover %>">
            <button class="btn btn-info btn-join"
                    data-loading-text="<i class='ace-icon fa fa-spinner fa-spin white bigger-125'></i>&nbsp;&nbsp;リクエストを送信しています・・・" style="position: absolute; right: 10px; top: 10px;">
                <i class="ace-icon fa fa-plus"></i>&nbsp;参加
            </button>
        <% } %>

            <a href="#profile/<%= obj._owner._id %>" style="position: absolute; bottom: -20px; right: 10px;">
                <img class="avatar" src="<%= obj._owner.photo %>" style="max-width: 50px; border-radius: 100%; border: 2px solid white;">
            </a>
        </div>

        <blockquote>
            <% if (obj.isMine) { %>
                <p id="name" class="sl-editable" style="margin-bottom: 0px;"></p>
                <div id="description" class="sl-editable"></div>
            <% } else { %>
                <p><%= obj.name %></p>
                <small><%= obj.description %></small>
            <% } %>
        </blockquote>

        <div class="center" style="padding: 12px;">

            <div class="infobox infobox-blue infobox-small infobox-dark">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-edit"></i>
                </div>
                <div class="infobox-data">
                    <div class="infobox-content"><%= selink.userModel.get('postNum') %>件</div>
                    <div class="infobox-content">投稿</div>
                </div>
            </div>

            <div class="infobox infobox-orange infobox-small infobox-dark">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-tasks"></i>
                </div>
                <div class="infobox-data">
                    <div class="infobox-content"><%= obj.invitationNum %>件</div>
                    <div class="infobox-content">イベント</div>
                </div>
            </div>

            <div class="infobox infobox-green infobox-small infobox-dark">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-group"></i>
                </div>
                <div class="infobox-data">
                    <div class="infobox-content"><%= obj.memberNum %>人</div>
                    <div class="infobox-content">メンバー</div>
                </div>
            </div>

            <% if (obj.isMine) { %>
            <div class="infobox infobox-orange2 infobox-small infobox-dark">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-paper-plane"></i>
                </div>
                <div class="infobox-data">
                    <div class="infobox-content"><%= obj.invitationNum %>人</div>
                    <div class="infobox-content">招待中</div>
                </div>
            </div>
            <% } %>

        </div>

        <% if (obj.isMine) { %>
        <hr>

        <div class="center" style="padding: 12px;">
            <button class="btn btn-success btn-block btn-member">
                <i class="ace-icon fa fa-group"></i>&nbsp;お友達を誘う
            </button>
        </div>
        <% } %>

    </div>

    <% if (obj.isMine || obj.isParticipated) { %>
    <div class="stamp col-xs-12 col-sm-6 col-lg-8">
        <div class="widget-box widget-color-green">

            <div class="widget-header widget-header-small">
                <h5 class="widget-title bigger"><i class="ace-icon fa fa-edit"></i>&nbsp;<%= obj.name %>に新しい記事</h5>
                <div class="widget-toolbar">
                    <a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-toolbox">
                    <div class="btn-toolbar center"></div>
                </div>

                <div class="widget-main no-padding">
                    <div class="wysiwyg-editor"></div>
                </div>

                <div class="widget-toolbox padding-4 clearfix">
                    <div class="btn-group pull-right">
                        <button class="btn btn-sm btn-success btn-post disabled">
                            <i class="ace-icon fa fa-globe bigger-125"></i>&nbsp;投稿
                            <i class="ace-icon fa fa-arrow-right fa-on-right bigger-125"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <% } %>

</div>

<nav id="page_nav">
  <a href="/posts?group=<%= obj._id %>&page=1"></a>
</nav>