<!-- user avatar -->
<div class="user">
    <img src="<%= obj._owner.photo%>" />
</div>

<div class="body">

    <!-- comment time -->
    <div class="time">
        <i class="ace-icon fa fa-clock-o"></i>
        <span class="blue"><%= moment(obj.createDate).fromNow() %></span>
    </div>

    <!-- author name -->
    <div class="name">
        <a href="#profile/<%= obj._owner._id %>">
            <%= obj._owner.firstName %>&nbsp;<%= obj._owner.lastName %>
        </a>
    </div>

    <!-- comment content -->
    <div class="text" style="padding-right: 65px;"><%= obj.content %></div>

    <div class="editor" style="display: none;">
        <textarea name="edit" style="width: 100%;"><%= obj.content.replace(/<br\s*[\/]?>/gi, '\n') %></textarea>
        <button class="btn btn-xs btn-success btn-edit-comfirm">確定</button>
        <button class="btn btn-xs btn-warning btn-edit-cancel">取消</button>
    </div>

    <!-- if this comment is mine -->
    <% if (obj.isMine) { %>
        <!-- remove confirm dialog -->
        <div class="alert alert-danger clearfix" style="display: none;">
            <i class="ace-icon fa fa-warning"></i>&nbsp;
            <strong>このコメントを削除します、よろしいですか？</strong>
            <div class="space-10"></div>
            <p class="pull-right">
                <button class="btn btn-sm btn-warning btn-remove-cancel">取消</button>
                <button class="btn btn-sm btn-danger btn-remove-comfirm">削除</button>
            </p>
        </div>
    <% } %>

    <!-- action buttons -->
    <div class="action">

        <!-- if the comment is mine -->
        <% if (obj.isMine) { %>
            <!-- edit button -->
            <i class="btn-edit icon-only ace-icon fa fa-pencil green blink"></i>
            <!-- remove button -->
            <i class="btn-comment-remove icon-only ace-icon fa fa-trash-o red blink"></i>

        <!-- someone's comment -->
        <% } else { %>
            <!-- reply button -->
            <i class="btn-reply icon-only ace-icon fa fa-reply blue blink"></i>
        <% } %>

        <!-- like button -->
        <i class="<% if (!obj.isLiked) print('btn-comment-like'); %> icon-only ace-icon fa <% if (obj.isLiked) print('fa-heart'); else print('fa-heart-o'); %> red <% if (obj.liked.length == 0) print('blink'); %>">
        </i>

        <span class="like-num red">
            <% if (obj.liked.length > 0 ) { %>
                <%= obj.liked.length %>
            <% } %>
        </span>

    </div>

</div>
