<div class="user">
    <img alt="" src="<%= obj._owner.photo%>" />
</div>

<div class="body">
    <div class="time">
        <i class="icon-time"></i>
        <span class="{{time-color}}"><%= moment(obj.createDate).fromNow() %></span>
    </div>
    <div class="name">
        <a href="#profile/<%= obj._owner._id %>">
            <%= obj._owner.firstName %>&nbsp;<%= obj._owner.lastName %>
        </a>
    </div>
    <div class="text"><%= obj.content %></div>

    <div class="tools">
        <i class="icon-only icon-heart-empty red"></i>
        <i class="icon-only icon-share-alt blue"></i>
    </div>
</div>
