<div class="modal-content">

    <div class="row modal-body overflow-visible">
        <div class="col-sm-12 col-md-8">
            <%= obj.content %>
        </div>
        <div class="col-sm-12 col-md-4">

            <div class="widget-box transparent">
                <div class="widget-header">
                    <a href="#profile/<%= obj._owner._id %>" title="<%- obj._owner.firstName %>">
                        <img class="avatar" src="<%= obj._owner.photo %>">
                    </a>
                    <h5>
                        <i class="icon-edit"></i>&nbsp;<%= obj._owner.firstName %>&nbsp;<%= obj._owner.lastName %>
                    </h5>
                    <h5 class="smaller">
                        <i class="icon-time"></i>&nbsp;<%= moment(obj.createDate).fromNow() %>
                    </h5>
                    <div class="clearfix"></div>
                </div>

                <div class="widget-body">
                    <div class="widget-main dialogs"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">

        <% if (obj.isLiked) { %>
            <div class="inline btn-like red tooltip-error pull-left">
                <i class="icon-heart bigger-130"></i>
                <span><%= obj.liked.length %></span>
            </div>
        <% } else { %>
            <div class="inline btn-like red tooltip-error pull-left">
                <i class="icon-heart-empty bigger-130"></i>
                <span><%= obj.liked.length %></span>
            </div>
        <% } %>

        <% if (obj.isMarked) { %>
            <div class="inline btn-bookmark orange tooltip-warning pull-left">
                <i class="icon-star bigger-130"></i>
                <span><%= obj.bookmarked.length %></span>
            </div>
        <% } else { %>
            <div class="inline btn-bookmark orange tooltip-warning pull-left">
                <i class="icon-star-empty bigger-130"></i>
                <span><%= obj.bookmarked.length %></span>
            </div>
        <% } %>

        <button class="btn btn-sm" data-dismiss="modal"><i class="icon-remove"></i> 閉じる</button>
    </div>
</div>