<div class="modal-content">

    <div class="row modal-body overflow-visible">
        <div class="col-sm-12 col-md-8 post-content">

            <% if (obj.isMine) { %>
            <div class="wysiwyg-editor">
                <%= obj.content %>
            </div>
            <% } else { %>
                <%= obj.content %>
            <% } %>

        </div>
        <div class="col-sm-12 col-md-4 post-comment">

            <div class="widget-box transparent">
                <div class="widget-header">
                    <a href="#profile/<%= obj._owner._id %>" title="<%= obj._owner.firstName %>">
                        <img class="avatar" src="<%= obj._owner.photo %>">
                    </a>
                    <h5>
                        <i class="ace-icon fa fa-edit"></i>&nbsp;<%= obj._owner.firstName %>&nbsp;<%= obj._owner.lastName %>
                    </h5>
                    <h5 class="smaller">
                        <i class="ace-icon fa fa-clock-o"></i>&nbsp;<%= moment(obj.createDate).fromNow() %>
                    </h5>
                    <div class="clearfix"></div>
                </div>

                <div class="widget-body">

                    <div class="widget-main dialogs"></div>

                    <div class="widget-toolbox padding-4 clearfix <% if (!obj.setting.commentable) print('hidden') %>">
                        <img class="photo-area pull-left" src="<%= selink.userModel.get('photo') %>" style="max-width: 36px; display: none;">
                        <div class="comment-area">
                            <textarea name="comment" placeholder="コメントを書く" style="width: 100%"/></textarea>
                        </div>
                        <div class="btn-area pull-right" style="margin-top: 4px; display: none;">
                            <button class="btn btn-sm btn-success btn-comment disabled">
                                <i class="ace-icon fa fa-comment bigger-125"></i>&nbsp;コメントする
                            </button>
                            <button class="btn btn-sm btn-yellow btn-cancel">
                                <i class="ace-icon fa fa-power-off bigger-125"></i>&nbsp;取消
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">

        <div class="pull-left" style="margin-top: 10px;">        
            <% if (obj.isLiked) { %>
                <div class="inline btn-like red tooltip-error">
                    <i class="ace-icon fa fa-heart bigger-130"></i>
                    <span><%= obj.liked.length %></span>
                </div>
            <% } else { %>
                <div class="inline btn-like red tooltip-error">
                    <i class="ace-icon fa fa-heart-o bigger-130"></i>
                    <span><%= obj.liked.length %></span>
                </div>
            <% } %>

            <% if (obj.isMarked) { %>
                <div class="inline btn-bookmark orange tooltip-warning">
                    <i class="ace-icon fa fa-star bigger-130"></i>
                    <span><%= obj.bookmarked.length %></span>
                </div>
            <% } else { %>
                <div class="inline btn-bookmark orange tooltip-warning">
                    <i class="ace-icon fa fa-star-o bigger-130"></i>
                    <span><%= obj.bookmarked.length %></span>
                </div>
            <% } %>
        </div>

        <button class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> 閉じる</button>
        <% if (obj.isMine) { %>
        <button class="btn btn-sm btn-danger btn-remove"><i class="ace-icon fa fa-trash-o"></i> 削除</button>
        <button class="btn btn-sm btn-success btn-save"><i class="ace-icon fa fa-save"></i> 保存</button>
        <% } %>

        <% if (obj.isMine) { %>
        <div class="alert alert-danger clearfix" style="display: none;">
            <strong><i class="ace-icon fa fa-warning bigger-125"></i></strong>&nbsp;
            この投稿を削除します、よろしいですか？
            <div class="pull-right">            
                <button class="btn btn-sm btn-warning btn-remove-cancel">取消</button>
                <button class="btn btn-sm btn-danger btn-remove-comfirm">削除</button>
            </div>
        </div>
        <% } %>
    </div>
</div>