<div class="widget-box">
    <div class="widget-header widget-header-flat">
        <img class="avatar" src="<%= obj._owner.photo %>">
        <h5 class="smaller">
            <i class="icon-edit bigger-110"></i>&nbsp;<%= obj._owner.firstName %>&nbsp;<%= obj._owner.lastName %>
        </h5>
        <h5>
            <i class="icon-calendar">&nbsp;</i><%= moment(obj.createDate).format('LL') %>
            <i class="icon-time">&nbsp;</i><%= moment(obj.createDate).format('HH:mm') %>
        </h5>
        <div class="action-buttons">
            <div class="inline red">
                <i class="icon-heart bigger-110"></i>
                <span><%= obj.liked.length %></span>
            </div>
            <div class="inline btn-favorite orange">
                <i class="icon-star-empty bigger-110"></i>
                <span><%= obj.liked.length %></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <%= obj.content %>
            <% if (obj.comment.length) { %>
            <hr>
            <div class="dialogs">
                <% _.each(obj.comment, function(comment){ %>
                <div class="itemdiv dialogdiv">
                    <div class="user">
                        <img alt="" src="<%= comment._owner.photo%>" />
                    </div>

                    <div class="body">
                        <div class="time">
                            <i class="icon-time"></i>
                            <span class="{{time-color}}"><%= moment(comment.createDate).fromNow() %></span>
                        </div>
                        <div class="name">
                            <a href="#profile/<%= comment._owner._id %>">
                                <%= comment._owner.firstName %>&nbsp;<%= comment._owner.lastName %>
                            </a>
                        </div>
                        <div class="text"><%= comment.content %></div>

                        <div class="tools">
                            <i class="icon-only icon-heart-empty red"></i>
                            <i class="icon-only icon-share-alt blue"></i>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
            <% }%>
        </div>
    </div>
</div>
