<%
    var isMine = (obj._owner._id === selink.user.id) ? true : false,
        isLiked = (_.indexOf(obj.liked, selink.user.id) >= 0) ? true : false,
        isMarked = (_.indexOf(obj.bookmarked, selink.user.id) >= 0) ? true : false;
%>

<div id="<%= obj._id %>" class="widget-box" data-create-date="<%= moment(obj.createDate).valueOf() %>">

    <!-- post header -->
    <div class="widget-header widget-header-flat">

        <!-- author photo -->
        <a href="#profile/<%= obj._owner._id %>">
            <img class="avatar" src="<%= obj._owner.photo %>" style="max-width: 75px;">
        </a>

        <!-- if this post is mine -->
        <% if (isMine) { %>
            <!-- operation menu -->
            <div class="widget-toolbar no-border hidden">

                <!-- menu toggler -->
                <a class="yellow dropdown-toggle" data-toggle="dropdown">
                    <i class="ace-icon fa fa-chevron-down"></i>
                </a>

                <!-- menu -->
                <ul class="dropdown-menu dropdown-yellow pull-right dropdown-caret dropdown-close">

                    <!-- remove button -->
                    <li>
                        <a href="#" class="btn-remove">
                            <i class="ace-icon fa fa-trash-o red bigger-110"></i>&nbsp;&nbsp;削除
                        </a>
                    </li>

                    <!-- disable comment -->
                    <li class="<% if (!obj.setting.commentable) print("hidden") %>">
                        <a href="#" class="btn-forbid">
                            <i class="ace-icon fa fa-ban pink bigger-110"></i>&nbsp;&nbsp;コメント禁止
                        </a>
                    </li>

                    <!-- enable comment -->
                    <li class="<% if (obj.setting.commentable) print("hidden") %>">
                        <a href="#" class="btn-forbid">
                            <i class="ace-icon fa fa-check green bigger-110"></i>&nbsp;&nbsp;コメント許可
                        </a>
                    </li>

                </ul>

            </div>
        <% } %>

        <!-- author name -->
        <h5>
            <i class="ace-icon fa fa-edit"></i>&nbsp;
            <strong><%= obj._owner.firstName %>&nbsp;<%= obj._owner.lastName %></strong>
        </h5>

        <!-- post time -->
        <h6>
            <i class="ace-icon fa fa-clock-o"></i>&nbsp;
            <%= moment(obj.createDate).calendar() %>
        </h6>

        <!-- group name -->
        <% if (obj.group) { %>
            <a class="group-label" href="#group/<%= obj.group._id %>">
                <span class="label label-pink arrowed-in arrowed-in-right">
                    <%= obj.group.name %>
                </span>
            </a>
        <% } %>

        <div class="clearfix"></div>

    </div>

    <!-- post body -->
    <div class="widget-body">
        <div class="widget-toolbox editor-toolbox" style="display: none;">
            <div class="btn-toolbar center"></div>
        </div>

        <div class="widget-main">

            <!-- if this post is mine -->
            <% if (isMine) { %>

                <!-- remove confrim dialog -->
                <div class="alert alert-danger clearfix" style="display: none;">
                    <i class="ace-icon fa fa-warning"></i>&nbsp;
                    <strong>この投稿を削除します、よろしいですか？</strong>
                    <div class="space-10"></div>
                    <p class="pull-right">
                        <button class="btn btn-sm btn-warning btn-remove-cancel">取消</button>
                        <button class="btn btn-sm btn-danger btn-remove-confirm">削除</button>
                    </p>
                </div>

                <div class="sl-editable tooltip-info">
                    <!-- post content -->
                    <div class="content" style="max-height: 500px; overflow: hidden;">
                        <%= obj.content %>
                    </div>
                    <!-- post editor -->
                    <div class="sl-editor" style="min-height: 200px;">
                        <%= obj.content %>
                    </div>
                </div>

                <br/>

                <!-- save button -->
                <div class="btn btn-xs btn-success btn-save hidden">
                    <i class="ace-icon fa fa-save bigger-110"></i>&nbsp;
                    <span>保存</span>
                </div>

                <!-- cancel button -->
                <div class="btn btn-xs btn-grey btn-edit-cancel hidden">
                    <i class="ace-icon fa fa-times bigger-110"></i>&nbsp;
                    <span>取消</span>
                </div>

            <% } else { %>

                <!-- post content -->
                <div class="content" style="max-height: 500px; overflow: hidden;">
                    <%= obj.content %>
                </div>

            <% } %>

            <br/>

            <!-- detail button -->
            <div class="btn btn-xs btn-primary btn-detail">
                <i class="ace-icon fa fa-desktop bigger-110"></i>&nbsp;
                <span>詳しく読む</span>
            </div>

            <!-- brief button -->
            <div class="btn btn-xs btn-warning btn-brief hidden">
                <i class="ace-icon fa fa-desktop bigger-110"></i>&nbsp;
                <span>小さくする</span>
            </div>

            <!-- action buttons -->
            <div class="pull-right">

                <!-- bookmark button -->
                <div class="inline orange tooltip-warning <% if (!isMarked) print("btn-bookmark"); %>">
                    <i class="ace-icon fa <% if (isMarked) print("fa-star"); else print("fa-star-o"); %> bigger-110"></i>
                </div>

                <!-- like button -->
                <div class="inline red tooltip-error <% if (!isLiked) print("btn-like"); %>">
                    <i class="ace-icon fa <% if (isLiked) print("fa-heart"); else print("fa-heart-o"); %> "></i>
                    <span><%= obj.liked.length %></span>
                </div>

            </div>

            <div class="clearfix"></div>

            <% if (obj.commentNum) { %>
                <hr />
            <% }%>

            <!-- post comments -->
            <div class="dialogs"></div>

            <!-- show more comments button -->
            <% if (obj.commentNum > 3) { %>
                <button class="btn btn-xs btn-info btn-block btn-show-all">もっと見る（<%= obj.commentNum - 3 %>件）</button>
            <% }%>

        </div>

        <!-- post footer -->
        <div class="widget-toolbox padding-4 clearfix <% if (!obj.setting.commentable) print('hidden') %>">

            <!-- user photo -->
            <img class="photo-area pull-left" src="<%= selink.user.get('photo') %>" style="max-width: 55px; display: none;" />

            <!-- comment text area -->
            <div class="comment-area">
                <textarea name="comment" placeholder="コメントを書く" style="width: 100%; heigth: 61px;"></textarea>
            </div>

            <div class="btn-area pull-right" style="display: none;">
                <!-- post button -->
                <button class="btn btn-sm btn-success btn-comment disabled">
                    <i class="ace-icon fa fa-comment bigger-125"></i>&nbsp;コメントする
                </button>
                <!-- cancel button -->
                <button class="btn btn-sm btn-yellow btn-cancel">
                    <i class="ace-icon fa fa-power-off bigger-125"></i>&nbsp;取消
                </button>
            </div>

        </div>

    </div>
</div>