<div class="timeline-info">
    <i class="timeline-indicator icon-briefcase btn btn-info"></i>
</div>

<div class="widget-box">
    <div class="widget-header widget-header-small header-color-blue2">
        <h5 class="smaller">
            <strong><%= obj.company %></strong>
        </h5>
        <span class="widget-toolbar no-border">
            <i class="icon-map-marker bigger-110"></i>&nbsp;<%= obj.address %>
        </span>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <%= obj.position %>
        </div>
    </div>
</div>