<div class="timeline-info">
    <i class="timeline-indicator icon-star btn btn-warning "></i>
</div>

<div class="widget-box">
    <div class="widget-header header-color-blue widget-header-small">
        <h5 class="smaller"><%= obj.title %></h5>
        <span class="widget-toolbar no-border">
            <i class="icon-time bigger-110"></i>&nbsp;<%= moment(obj.createDate).fromNow() %>
        </span>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <strong><%= obj._owner.firstName %>&nbsp;<%= obj._owner.lastName %></strong>
            さんは<%= obj.content %>
        </div>
    </div>
</div>