<div class="timeline-info">
    <i class="timeline-indicator icon-file-text-alt btn btn-info no-hover"></i>
</div>

<div class="widget-box transparent">
    <div class="widget-header widget-header-small hidden"></div>
    <div class="widget-body">
        <div class="widget-main">
            <strong><%= obj._owner.firstName %>&nbsp;<%= obj._owner.lastName %></strong>
            さんは<%= obj.title %>
            <div class="pull-right">
                <i class="icon-time bigger-110"></i>&nbsp;<%= moment(obj.createDate).format('HH:mm') %>
            </div>
        </div>
    </div>
</div>