<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
    <a href="#home" class="btn btn-success"><i class="icon-home"></i></a>
    <a href="#profile" class="btn btn-info"><i class="icon-file-text-alt"></i></a>
    <a href="#calendar" class="btn btn-warning"><i class="icon-calendar"></i></a>
    <a href="#mailbox" class="btn btn-danger"><i class="icon-inbox"></i></a>
</div>
<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
    <a href="#home" class="btn btn-success"></a>
    <a href="#profile" class="btn btn-info"></a>
    <a href="#calendar" class="btn btn-warning"></a>
    <a href="#mailbox" class="btn btn-danger"></a>
</div>
