
.sidebar{-webkit-transition:width .5s;transition:width .5s}.sidebar:before{-webkit-transition:width .5s;transition:width .5s}
.profile{-webkit-box-shadow:1px 1px 3px #808080;box-shadow:1px 1px 3px #808080}
