<label class="inline">
    <input type="checkbox" class="ace" />
    <span class="lbl"></span>
</label>

<i class="message-star icon-star-empty light-grey"></i>
<span class="sender" title="{{sender}}">Joe Hetfield<span class="light-grey">3</span></span>
<span class="time">13:33</span>
<span class="attachment">
    <i class="icon-paper-clip"></i>
</span>

<span class="summary">
    <span class="badge badge-green mail-tag"></span>
    <span class="text">
    hello
    </span>
</span>
