<div class="tabbable">

    <ul id="inbox-tabs" class="inbox-tabs nav nav-tabs padding-16 tab-size-bigger tab-space-1">
        <li class="li-new-mail pull-right active">
            <a data-toggle="tab" href="#write" class="btn-new-mail">
                <span class="btn btn-small btn-info no-border">
                    <i class=" icon-envelope bigger-130"></i>
                    <span class="smaller-90">メールを書く</span>
                </span>
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#inbox">
                <i class="blue icon-inbox bigger-130"></i>
                <span class="smaller-90">受信トレイ</span>
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#sent">
                <i class="orange icon-location-arrow bigger-130"></i>
                <span class="smaller-90">送信済み</span>
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#draft">
                <i class="green icon-pencil bigger-130"></i>
                <span class="smaller-90">ドラフト</span>
            </a>
        </li>
    </ul>

    <div class="tab-content no-border no-padding">
        <div id="inbox" class="tab-pane">inbox</div>
        <div id="sent" class="tab-pane">sent</div>
        <div id="draft" class="tab-pane">draft</div>
        <div id="write" class="tab-pane active">
            <div id="write-area"></div>
        </div>
    </div>
</div>