<div class="message-navbar align-center clearfix">

    <div class="message-bar">
        <div class="message-toolbar">
            <a href="#" class="btn btn-xs btn-message">
                <i class="icon-save bigger-125"></i>
                <span class="bigger-110">ドラフトを保存</span>
            </a>
            <a href="#" class="btn btn-xs btn-message">
                <i class="icon-remove bigger-125"></i>
                <span class="bigger-110">破棄</span>
            </a>
        </div>
    </div>

    <div class="message-item-bar">
        <div class="messagebar-item-left">
            <span class="inline btn-send-message">
                <button type="button" class="btn btn-sm btn-info btn-back">
                    <i class="icon-arrow-left icon-on-right"></i>
                    <span class="bigger-110">受信トレイへ</span>
                </button>
            </span>
        </div>
        <div class="messagebar-item-right">
            <span class="inline btn-send-message">
                <button type="button" class="btn btn-sm btn-success btn-send">
                    <span class="bigger-110">送信</span>
                    <i class="icon-arrow-right icon-on-right"></i>
                </button>
            </span>
        </div>
    </div>

</div>

<div class="space"></div>

<div class="row form-group">
    <div class="col-sm-2 text-right">
        <i class="icon-envelope">&nbsp;&nbsp;宛先</i>
    </div>
    <div class="col-sm-9">
        <input type="text" name="recipient"/>
    </div>
</div>

<div class="row form-group">
    <div class="col-sm-2 text-right">
        <i class="icon-comment">&nbsp;&nbsp;件名</i>
    </div>
    <div class="col-sm-9">
        <input type="text" class="col-xs-12" name="subject" placeholder="" />
    </div>
</div>

<div class="row form-group">
    <div class="col-sm-2 text-right">
        <span class="inline space-32 hidden-480"></span>
        <i class="icon-font">&nbsp;&nbsp;本文</i>
    </div>
    <div class="col-sm-9">
        <div class="wysiwyg-editor"></div>
    </div>
</div>

<div class="row form-group no-margin-bottom">
    <div class="col-sm-2 text-right">
        <i class="icon-tags">&nbsp;&nbsp;添付ファイル</i>
    </div>
    <div class="col-sm-9">
        <div id="form-attachments">
            <input type="file" name="attachment[]" />
        </div>
    </div>
</div>

<div class="row align-right">
    <div class="col-sm-11">
        <button id="id-add-attachment" type="button" class="btn btn-sm btn-danger">
            <i class="icon-paper-clip bigger-140"></i>
            添付ファイルを追加
        </button>
    </div>
</div>

<div class="space"></div>