!!! 5
html(lang="ja", xmlns="http://www.w3.org/1999/xhtml")

  //- header
  include partials/header

  //- body
  body.no-skin.navbar-fixed

    //- top navigation
    #navbar.navbar.navbar-default.navbar-fixed-top.navbar-collapse
      //- container
      #navbar-container.navbar-container

    //- container
    #main-container.main-container

      //- side navigation
      a#menu-toggler.invisible.menu-toggler
      #sidebar.sidebar.navbar-collapse.collapse.sidebar-fixed.menu-min

      //- content
      .main-content
        .breadcrumbs.breadcrumbs-fixed
          .nav-search.minimized
            form.form-search
              span.input-icon
                input.nav-search-input(type="text", autocomplete="off", placeholder="検索")
                i.ace-icon.fa.fa-search.nav-search-icon
        .page-content
          #ace-settings-container.ace-settings-container
            #ace-settings-btn.ace-settings-btn.btn.btn-app.btn-xs.btn-success
              i.aceicon.fa.fa-comments.bigger-150
            #ace-settings-box.ace-settings-box.clearfix
              .pull-left.width-50
          .page-main

    //- modal
    #modal-area.modal.fade(tabindex="-1", data-backdrop="static")

    //- bootstrap data
    #info-base(data-id="#{_id}")