!!! 5
html(lang="ja", xmlns="http://www.w3.org/1999/xhtml")

  //- header
  include partials/header

  //- body
  body.navbar-fixed

    //- top navigation
    //- top bar
    #navbar.navbar.navbar-default.navbar-fixed-top

      //- container
      #navbar-container.navbar-container

        //- page name
        .navbar-header.pull-left
          a.navbar-brand(href="#")
            small
              block page-name

        //- menu
        #topnav-area

    //- container
    #main-container.main-container
      .main-container-inner

        //- side navigation
        a#menu-toggler.menu-toggler(href="#")
          span.menu-text
        #sidebar.sidebar.sidebar-fixed.menu-min
          #shortcuts-area
          #sidenav-area
          #sidebar-collapse.sidebar-collapse
            i.icon-double-angle-right(data-icon1="icon-double-angle-left", data-icon2="icon-double-angle-right")

        //- content
        .main-content
          .page-content

    //- modal
    #modal-area.modal.fade(tabindex="-1")

    //- bootstrap data
    #info-base(data-id="#{_id}")