<a class="dropdown-toggle" href="/#" data-toggle="dropdown">
    <span class="icon-tasks"></span>
    <% if (obj.eventsNum > 0) { %>
    <span class="badge badge-primary"><%- obj.eventsNum %></span>
    <% } %>
</a>
<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret">
    <li class="dropdown-header">
        <i class="icon-tasks"></i>&nbsp;イベント（<%- obj.eventsNum %>件）
    </li>
    <% 
        if (obj.eventsNum > 0) { 
            _.each(obj.nearestEvents, function(event){ 
    %>
        <li>
            <a href="#">
                &nbsp;&nbsp;<%- event.get('title') %>
                <span class="pull-left"><i class="icon-tags"></i></span>
                <span class="pull-right badge <%- event.get('className') %>" style="margin-top:-1px;">
                    <% print(moment(event.get('start')).fromNow()) %>
                </span>
            </a>
        </li>
    <% 
        });} else {
    %>
        <li><a class="text-center">イベントありません</a></li>
    <% } %>
    <li>
        <a href="#calendar">
            予定表へ
            <i class="icon-arrow-right"></i>
        </a>
    </li>
</ul>