<a class="dropdown-toggle" href="/#" data-toggle="dropdown">
    <span class="icon-bell-alt"></span>
    <% if (obj.notificationsNum > 0) { %>
    <span class="badge badge-primary"><%- obj.notificationsNum %></span>
    <% } %>
</a>
<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret">
    <li class="dropdown-header">
        <i class="icon-bell"></i>&nbsp;通知（<%- obj.notificationsNum %>件）
    </li>
    <% 
        if (obj.notificationsNum > 0) { 
            _.each(obj.nearestNotifications, function(notification){ 
    %>
        <li>
            <a href="#">
                &nbsp;&nbsp;<%- notification.get('title') %>
                <span class="pull-left"><i class="icon-tags"></i></span>
                <span class="pull-right badge <%- notification.get('className') %>" style="margin-top:-1px;">
                    <% print(moment(notification.get('start')).fromNow()) %>
                </span>
            </a>
        </li>
    <% 
        });} else {
    %>
        <li><a class="text-center">通知ありません</a></li>
    <% } %>
    <li>
        <a href="#calendar">
            全通知へ
            <i class="icon-arrow-right"></i>
        </a>
    </li>
</ul>