<%
    var isJoined = (_.indexOf(selink.user.get('groups'), obj._id) >= 0) ? true : false,
        description = obj.description ? _.str.truncate(description, 100, '...') : "";
%>

<!-- group item -->
<div style="border: 1px solid #CCC; margin-top: 3px; margin-bottom: 3px;" data-create-date="<%= moment(obj.createDate).valueOf() %>">

    <!-- header -->
    <div>
        <!-- cover -->
        <a href="#group/<%= obj._id %>">
            <img src="<%= obj.cover %>" style="width: 100%; overflow: hidden;"/>
        </a>
    </div>

    <!-- body -->
    <blockquote style="margin-bottom: 0px;">

        <!-- group name -->
        <p><%= obj.name %></p>

        <!-- description -->
        <% if (obj.description) { %>
            <small><%= description %></small>
        <% } %>

    </blockquote>

    <div class="space-4"></div>

    <div class="pull-right action-buttons" style="padding: 0px 12px;">

        <!-- events number -->
        <a class="orange tooltip-warning">
            <i class="ace-icon fa fa-tasks"></i>
            <%= obj.events.length %>
        </a>

        <!-- posts number -->
        <a class="blue tooltip-info">
            <i class="ace-icon fa fa-edit"></i>
            <%= obj.posts.length %>
        </a>

        <!-- participants number -->
        <a class="green tooltip-success">
            <i class="ace-icon fa fa-group"></i>
            <%= obj.participants.length %>
        </a>

    </div>

    <div class="clearfix"></div>

    <% if (!isJoined) { %>
        <!-- footer -->
        <div class="clearfix group-info" style="padding: 12px;">

            <!-- operation buttons -->
            <button class="btn btn-info btn-block btn-join"
                    data-loading-text="<i class='ace-icon fa fa-spinner fa-spin white bigger-125'></i>&nbsp;&nbsp;リクエストを送信しています・・・">
                <i class="ace-icon fa fa-plus"></i>&nbsp;参加
            </button>

        </div>
    <% } %>

</div>