<div class="page-header">
    <h1 class="inline align-bottom">
        <i class="ace-icon fa fa-group"></i>
        グループ
    </h1>
    <button class="btn btn-sm btn-success" data-toggle="tab" href="#list">
        <i class="ace-icon fa fa-th"></i>
        一覧
    </button>
    <button class="btn btn-sm btn-info" data-toggle="tab" href="#joined">
        <i class="ace-icon fa fa-child"></i>
        参加中
    </button>
    <button class="btn btn-sm btn-yellow" data-toggle="tab" href="#mine">
        <i class="ace-icon fa fa-list"></i>
        自分
    </button>
</div>

<div class="tab-content no-border no-padding">
    <div id="list" class="tab-pane active"></div>
    <div id="joined" class="tab-pane"></div>
    <div id="mine" class="tab-pane"></div>
</div>