<div class="isotope">

    <div class="stamp col-xs-12 col-sm-6 col-lg-4">
        <div class="widget-box widget-color-pink">

            <div class="widget-header widget-header-large">
                <h4 class="widget-title">
                    <i class="ace-icon fa fa-plus"></i>
                    グループ作成
                </h4>
            </div>

            <div class="widget-body">

                <div class="widget-main">

                    <div class="alert alert-block alert-danger">
                        <p class="center">
                            <strong>
                                <i class="ace-icon fa fa-ge fa-spin bigger-150"></i>
                                SELinkのお友達を招待して<br/>
                                みんなと一緒にグループで楽しみましょう！<br/>
                            </strong>
                        </p>
                        <div data-toggle="buttons" class="btn-group">
                            <button class="btn btn-app btn-success">
                                <i class="ace-icon fa fa-globe bigger-230"></i>
                                公開
                            </button>
                            <button class="btn btn-app btn-info">
                                <input type="radio" value="1">
                                <i class="ace-icon fa fa-envelope bigger-230"></i>
                                申請
                            </button>
                            <button class="btn btn-app btn-warning">
                                <input type="radio" value="1">
                                <i class="ace-icon fa fa-lock bigger-230"></i>
                                秘密
                            </button>
                        </div>
                        <p class="center">
                            下の枠にグループ名を入れて、<br/>
                            新しいグループを立ち上げることが出ます。
                        </p>
                    </div>
                </div>

                <div class="widget-toolbox padding-8 clearfix">
                    <div class="input-group">
                        <input class="form-control" type="text" name="name" placeholder="グループ名" />
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-success no-radius disabled" type="button">
                                新規作成
                                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                            </button>
                        </span>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="isotope-item grid-sizer col-xs-12 col-sm-6 col-lg-4"></div>
</div>

<nav id="mine_page_nav">
  <a href="/groups?fields=_owner,type,name,cover,description,participants,posts,events,createDate&embed=_owner&page=1"></a>
</nav>