<div class="page-header">
    <h1>Solr Index</h1>
</div>
<a id="user" class="btn btn-primary">
    <i class="icon-group bigger-120"></i>
    <span class="bigger-110">全ユーザ</span>
</a>
<a id="job" class="btn btn-info">
    <i class="icon-briefcase bigger-120"></i>
    <span class="bigger-110">全案件</span>
</a>
<a id="post" class="btn btn-success">
    <i class="icon-edit bigger-120"></i>
    <span class="bigger-110">全投稿</span>
</a>
<a id="message" class="btn btn-warning">
    <i class="icon-envelop bigger-120"></i>
    <span class="bigger-110">全メッセージ</span>
</a>
<a id="announcement" class="btn btn-danger">
    <i class="icon-bullhorn bigger-120"></i>
    <span class="bigger-110">全公告</span>
</a>
<a id="tag" class="btn btn-purple">
    <i class="icon-tags bigger-120"></i>
    <span class="bigger-110">全タグ</span>
</a>