<%
    var progressClass = 'progress-bar';

    if (obj.completeness == 100) {
        progressClass += ' progress-bar-success';
    } else if (obj.completeness > 85) {

    } else if (obj.completeness > 70) {
        progressClass += ' progress-bar-warning';
    } else if (obj.completeness > 50) {
        progressClass += ' progress-bar-pink';
    } else if (obj.completeness > 30) {
        progressClass += ' progress-bar-purple';
    } else {
        progressClass += ' progress-bar-danger';
    }
%>

<div class="progress tooltip-success" data-percent="完成度：<%= obj.completeness %>%">
    <div class="<%= progressClass %>" style="width: <%= obj.completeness %>%;"></div>
</div>