<div id="sl-basic-info" class="row">
    <div class="col-xs-12 col-md-6">
        <img src="./upload/test.jpg" style="width: 100%; max-height: 150px; overflow: hidden;">

        <div class="col-xs-3 center" style="margin-top: -60px;">            

            <div id="photo"></div>

            <div class="space-12"></div>

            <div class="infobox infobox-blue infobox-small infobox-dark">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-edit"></i>
                </div>
                <div class="infobox-data">
                    <div class="infobox-content">32件</div>
                    <div class="infobox-content">投稿</div>
                </div>
            </div>

            <div class="infobox infobox-green infobox-small infobox-dark">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-inbox"></i>
                </div>
                <div class="infobox-data">
                    <div class="infobox-content">9通</div>
                    <div class="infobox-content">メール</div>
                </div>
            </div>

            <div class="infobox infobox-orange infobox-small infobox-dark">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-bell"></i>
                </div>
                <div class="infobox-data">
                    <div class="infobox-content">2件</div>
                    <div class="infobox-content">通知</div>
                </div>
            </div>

        </div>
        <div class="col-xs-6">
            <div id="name" class="sl-editable"></div>
            <div id="telno" class="sl-editable"></div>
            <div id="website" class="sl-editable"></div>
            <div id="address" class="sl-editable"></div>
            <div id="nearestst" class="sl-editable"></div>
            <div id="nationality" class="sl-editable"></div>
            <div id="birthday" class="sl-editable"></div>
            <div id="gender" class="sl-editable"></div>
            <div id="marriage" class="sl-editable"></div>
        </div>
        <div class="col-xs-3">
            <div class="space-12"></div>
            <div id="friends"></div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div id="bio"></div>
        <div id="languages"></div>
        <div id="skills"></div>
        <div id="qualifications"></div>
        <div id="educations"></div>
        <div id="employments"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
    </div>
    <div class="col-xs-12 col-md-6">
    </div>
</div>