<div class="row">
    <div id="sl-basic-info" class="col-xs-12 col-md-4">
        <div class="center">        
            <div id="photo-item"></div>
            <div id="name-item" class="sl-editable"></div>
            <div id="title-item" class="sl-editable"></div>
        </div>
        <div id="birthday-item" class="sl-editable row"></div>
        <div id="gender-item" class="sl-editable row"></div>
        <div id="nationality-item" class="sl-editable row"></div>
        <div id="marriage-item" class="sl-editable row"></div>
        <div id="experience-item" class="sl-editable row"></div>
        <div id="telno-item" class="sl-editable row"></div>
        <div id="email-item" class="sl-editable row"></div>
        <div id="website-item" class="sl-editable row"></div>
        <div id="nearestst-item" class="sl-editable row"></div>
        <div id="address-item" class="sl-editable row"></div>
    </div>
    <div class="col-xs-12 col-md-8" style="padding-left: 25px;">
        <div id="bio-item"></div>
        <div id="language-composite"></div>
        <div id="skill-composite"></div>
        <div id="qualification-composite"></div>
        <div id="education-composite"></div>
        <div id="employment-composite"></div>
    </div>
</div>
