<div id="sl-basic-info" class="row">
    <div class="col-xs-12 col-md-3 center">
        <div id="photo"></div>
        <div id="name" class="sl-editable"></div>
        <div id="title" class="sl-editable"></div>
    </div>
    <div class="col-xs-12 col-md-9">
        <div id="birthday" class="sl-editable col-md-6"></div>
        <div id="gender" class="sl-editable col-md-6"></div>
        <div id="nationality" class="sl-editable col-md-6"></div>
        <div id="marriage" class="sl-editable col-md-6"></div>
        <div id="experience" class="sl-editable col-md-6"></div>
        <div id="telno" class="sl-editable col-md-6"></div>
        <div id="email" class="sl-editable col-md-6"></div>
        <div id="website" class="sl-editable col-md-6"></div>
        <div id="nearestst" class="sl-editable col-md-6"></div>
        <div id="address" class="sl-editable col-md-6"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div id="bio"></div>
        <div id="languages"></div>
        <div id="skills"></div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div id="qualifications"></div>
        <div id="educations"></div>
        <div id="employments"></div>
    </div>
</div>