<div class="col-xs-4 align-right blue">
    <i class="icon-flag sl-icon"></i>&nbsp;
    国籍
</div>
<div class="col-xs-8">
    <div class="sl-value">
        <%
            if (obj.nationality)
                print(obj.nationality);
            else
                print('<span class="text-muted">クリックして編集</span>');
        %>
    </div>
    <div class="sl-editor row">
        <div class="col-sm-12 input-group">
            <span class="input-group-addon">
                <i class="icon-flag bigger-110"></i>
            </span>
            <select placeholder="国籍を選択して下さい" name="nationality">
                <%
                    for(var key in obj.countryList){

                        print('<optgroup label="' + key + '">');

                        _.each(obj.countryList[key], function(option) {
                            var selected = (option == obj.nationality) ? 'selected' : '';
                            print('<option value="' + option + '" ' + selected + '>' + option + '</option>' );
                        });

                        print('</optgroup>');
                    }
                %>
            </select>
        </div>
    </div>
</div>