<%
    var dispPhoto = obj.photo ? obj.photo : './asset/images/no_photo_male.gif';
%>
<span class="fileinput-button profile-picture ace-thumbnails">
	<li class="sl-avatar">
		<div>
		    <img id="avatar" class="img-responsive" src="<%- dispPhoto %>">
		    <div class="text">
                <div class="inner">
                    <i class="icon-camera icon-2x"></i>
                    <br/>
                    クリックして変更
                </div>
            </div>
		    <input id="fileupload" type="file" name="photo" data-url="/user/<%- obj._id %>">
		</div>
    </li>
</span>