<div class="col-xs-4 align-right">
    <i class="ace-icon fa fa-phone sl-icon"></i>&nbsp;
    Tel.
</div>
<div class="col-xs-8">
    <div class="sl-value">
        <%
            if (obj.telNo)
                print(obj.telNo);
            else
                print('<span class="text-muted">クリックして編集</span>');
        %>
    </div>
    <div class="sl-editor row form-group">
        <div class="col-sm-12 input-group">
            <span class="input-group-addon">
                <i class="ace-icon fa fa-phone bigger-110"></i>
            </span>
            <input type="text" class="input-medium" placeholder="電話番号" name="telNo" value="<%- obj.telNo %>">
        </div>
    </div>
</div>