
.sidebar{-webkit-transition:width .5s;transition:width .5s}.sidebar:before{-webkit-transition:width .5s;transition:width .5s}
.resume{-webkit-box-shadow:1px 1px 3px #808080;box-shadow:1px 1px 3px #808080}
.sl-editable{-webkit-transition:background-color 1s;transition:background-color 1s}.sl-editable:hover{background-color:#EEE;cursor:pointer}
.sl-editable .sl-editor{display:none}.sl-editable .sl-editor input{line-height:normal}
