
html,body{height:100%}
.main-container{height:90%;min-height:90%}
.main-container-inner,.main-content,.page-content{height:100%;min-height:100%}
.sidebar{-webkit-transition:width .5s;transition:width .5s}.sidebar:before{-webkit-transition:width .5s;transition:width .5s}
.main-content{-webkit-transition:margin .5s;transition:margin .5s}.main-content:before{-webkit-transition:margin .5s;transition:margin .5s}
.gritter-item{font-size:12px}
.sl-editable{-webkit-transition:background-color 1s;transition:background-color 1s}.sl-editable:hover{background-color:#EEE;cursor:pointer}
.sl-editable .form-group{margin-bottom:0px}
.sl-editable .sl-editor{display:none}.sl-editable .sl-editor input{line-height:normal}
.label{line-height:1.5;margin-left:15px;padding-left:7px;padding-right:7px}
.badge{top:-2px !important;padding-top:3px;padding-bottom:1px}
.icon-nothing{font-family:inherit}
.sl-title{line-height:1.3 !important}
#sl-basic-info .sl-editable{min-height:48px}#sl-basic-info .sl-editable .profile-info-name,#sl-basic-info .sl-editable .sl-value{line-height:33px}
.sl-avatar{border:0px !important;float:none !important}
#name-item,#title-item{padding:7px}
#bio-item img{max-width:100%}
#zipCodeArea{margin-bottom:10px}
#language-composite .grid2,#language-composite .grid3,#language-composite .grid4{min-height:127px;margin-bottom:6px;padding-top:6px;border-left:none}#language-composite .grid2 input[readonly],#language-composite .grid3 input[readonly],#language-composite .grid4 input[readonly]{background:transparent !important}
#language-composite .grid2 .sl-value,#language-composite .grid3 .sl-value,#language-composite .grid4 .sl-value{margin-top:-10px}
#language-composite .grid2 .sl-editor,#language-composite .grid3 .sl-editor,#language-composite .grid4 .sl-editor{margin-top:-5px}
#language-composite .grid2 .input-group-btn .btn,#language-composite .grid3 .input-group-btn .btn,#language-composite .grid4 .input-group-btn .btn{min-height:30px;margin-left:-2px}
#skill-composite .sl-editable{min-height:40px;padding:7px}
#skill-composite input{width:100%;padding-right:135px;border-bottom:0}
#skill-composite .input-group-btn .btn{min-height:33px}
#skill-composite .input-group-addon{width:100%}
#skill-composite .icon-nothing{right:18px}
#qualification-composite .sl-editable{padding:7px;min-height:85px}
#qualification-composite blockquote{margin:0px}
#qualification-composite .row{margin-top:5px}#qualification-composite .row:first-child{margin-top:0px}
#qualification-composite i{width:14px}
#education-composite .sl-editable{padding:7px;min-height:85px}
#education-composite blockquote{margin:0px}
#education-composite .row{margin-top:5px}#education-composite .row:first-child{margin-top:0px}
#education-composite i{width:14px}
#employment-composite .sl-editable{padding:7px;min-height:100px}
#employment-composite blockquote{margin:0px}
#employment-composite .row{margin-top:5px}#employment-composite .row:first-child{margin-top:0px}
#employment-composite i{width:14px}
.post-item img,.friend-item img,.post-item div,.friend-item div{max-width:100%}
.post-item .avatar,.friend-item .avatar{max-width:100px;max-height:100px;margin-top:8px;margin-bottom:8px;margin-right:12px;float:left}
.post-item .btn-block,.friend-item .btn-block{-webkit-transition:all 1s;transition:all 1s}
#event-modal input{line-height:normal}
#event-modal .row{margin-top:15px}#event-modal .row:first-child{margin-top:0px}
#event-modal .checkbox{margin-top:4px;margin-bottom:0px}
#event-modal .wysiwyg-editor{margin:0 15px;height:150px}
#event-modal .wysiwyg-toolbar{margin:0 15px !important}
#write-area input{line-height:normal}
#write-area .row .col-sm-2{line-height:31px}
.table-timecard{margin-bottom:0px}.table-timecard td{line-height:35px !important}
#gritter-notice-wrapper{top:50px}
#external-events>div,.fc-event-container>div{-webkit-transition:all 0.2s;transition:all 0.2s}#external-events>div:hover,.fc-event-container>div:hover{text-decoration:none;-moz-transform:scale(1.1);-webkit-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);opacity:0.85}
.fc-event-inner{padding:3px 5px}.fc-event-inner .sl-event-memo{padding:10px 15px}
.job-container .widget-container-span{-webkit-transition:all 0.2s;transition:all 0.2s}.job-container .widget-container-span:hover{text-decoration:none;-moz-transform:scale(1.05);-webkit-transform:scale(1.05);-o-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05)}
.page-header{min-height:60px;padding-bottom:7px}.page-header h1{margin-top:10px}
.page-header input{font-size:1.5em}
.animated-input-error{display:inline-block;-moz-animation:vertical 2.0s 3 ease 0.5s;-webkit-animation:vertical 2.0s 3 ease 0.5s;-o-animation:vertical 2.0s 3 ease 0.5s;-ms-animation:vertical 2.0s 3 ease 0.5s;animation:vertical 2.0s 3 ease 0.5s}
@-moz-keyframes vertical{0%{-moz-transform:translate(0, -3px)} 4%{-moz-transform:translate(0, 3px)} 8%{-moz-transform:translate(0, -3px)} 12%{-moz-transform:translate(0, 3px)} 16%{-moz-transform:translate(0, -3px)} 20%{-moz-transform:translate(0, 3px)} 22%{-moz-transform:translate(0, 0)}}@-webkit-keyframes vertical{0%{-webkit-transform:translate(0, -3px)} 4%{-webkit-transform:translate(0, 3px)} 8%{-webkit-transform:translate(0, -3px)} 12%{-webkit-transform:translate(0, 3px)} 16%{-webkit-transform:translate(0, -3px)} 20%{-webkit-transform:translate(0, 3px)} 22%{-webkit-transform:translate(0, 0)}}@-ms-keyframes vertical{0%{-ms-transform:translate(0, -3px)} 4%{-ms-transform:translate(0, 3px)} 8%{-ms-transform:translate(0, -3px)} 12%{-ms-transform:translate(0, 3px)} 16%{-ms-transform:translate(0, -3px)} 20%{-ms-transform:translate(0, 3px)} 22%{-ms-transform:translate(0, 0)}}@keyframes vertical{0%{transform:translate(0, -3px)} 4%{transform:translate(0, 3px)} 8%{transform:translate(0, -3px)} 12%{transform:translate(0, 3px)} 16%{transform:translate(0, -3px)} 20%{transform:translate(0, 3px)} 22%{transform:translate(0, 0)}}.isotope-item{z-index:2}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1}
.isotope,.isotope .isotope-item{-webkit-transition-duration:0.8s;-moz-transition-duration:0.8s;-ms-transition-duration:0.8s;-o-transition-duration:0.8s;transition-duration:0.8s}
.isotope{-webkit-transition-property:height, width;-moz-transition-property:height, width;-ms-transition-property:height, width;-o-transition-property:height, width;transition-property:height, width}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;-ms-transition-property:-ms-transform,opacity;-o-transition-property:-o-transform,opacity;transition-property:transform, opacity}
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition{-webkit-transition-duration:0s;-moz-transition-duration:0s;-ms-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s}
#infscr-loading{position:fixed;text-align:center;bottom:30px;left:42%;z-index:100;background-color:#dff0d8;border:2px solid #d6e9c6;padding:15px;color:#468847;font-size:15px;font-weight:bold}
.ace-nav>li>div{line-height:45px;height:45px;border-left:1px solid #DDD;padding:0;position:relative;float:left !important;}.ace-nav>li>div:first-child{border-left:none}
.ace-nav>li>div>a{background-color:#2e6589;color:#FFF;display:block;line-height:inherit;text-align:center;text-decoration:none;height:100%;width:auto;min-width:50px;padding:0 8px;position:relative}.ace-nav>li>div>a>[class*="icon-"]{font-size:16px;color:#FFF;display:inline-block;width:20px;text-align:center}
.ace-nav>li>div>a>.badge{position:relative;top:-4px;left:2px;padding-right:5px;padding-left:5px}
.ace-nav>li>div>a:hover,.ace-nav>li>div>a:focus{background-color:#2c5976}
.ace-nav>li>div.open>a{background-color:#2c5976 !important}
.ace-nav>li>div.open>a{color:#FFF !important}
.ace-nav>li>div.grey>a{background-color:#555}.ace-nav>li>div.grey>a:hover,.ace-nav>li>div.grey>a:focus{background-color:#4b4b4b}
.ace-nav>li>div.open.grey>a{background-color:#4b4b4b !important}
.ace-nav>li>div.purple>a{background-color:#892e65}.ace-nav>li>div.purple>a:hover,.ace-nav>li>div.purple>a:focus{background-color:#762c59}
.ace-nav>li>div.open.purple>a{background-color:#762c59 !important}
.ace-nav>li>div.green>a{background-color:#2e8965}.ace-nav>li>div.green>a:hover,.ace-nav>li>div.green>a:focus{background-color:#2c7659}
.ace-nav>li>div.open.green>a{background-color:#2c7659 !important}
.ace-nav>li>div.light-blue>a{background-color:#62a8d1}.ace-nav>li>div.light-blue>a:hover,.ace-nav>li>div.light-blue>a:focus{background-color:#579ec8}
.ace-nav>li>div.open.light-blue>a{background-color:#579ec8 !important}
.ace-nav>li>div.light-blue2>a{background-color:#42a8e1}.ace-nav>li>div.light-blue2>a:hover,.ace-nav>li>div.light-blue2>a:focus{background-color:#359fd9}
.ace-nav>li>div.open.light-blue2>a{background-color:#359fd9 !important}
.ace-nav>li>div.red>a{background-color:#b74635}.ace-nav>li>div.red>a:hover,.ace-nav>li>div.red>a:focus{background-color:#a34335}
.ace-nav>li>div.open.red>a{background-color:#a34335 !important}
.ace-nav>li>div.light-green>a{background-color:#9abc32}.ace-nav>li>div.light-green>a:hover,.ace-nav>li>div.light-green>a:focus{background-color:#8ba832}
.ace-nav>li>div.open.light-green>a{background-color:#8ba832 !important}
.ace-nav>li>div.light-purple>a{background-color:#cb6fd7}.ace-nav>li>div.light-purple>a:hover,.ace-nav>li>div.light-purple>a:focus{background-color:#c263ce}
.ace-nav>li>div.open.light-purple>a{background-color:#c263ce !important}
.ace-nav>li>div.light-orange>a{background-color:#f79263}.ace-nav>li>div.light-orange>a:hover,.ace-nav>li>div.light-orange>a:focus{background-color:#f28653}
.ace-nav>li>div.open.light-orange>a{background-color:#f28653 !important}
.ace-nav>li>div.light-pink>a{background-color:#f4dae5}.ace-nav>li>div.light-pink>a:hover,.ace-nav>li>div.light-pink>a:focus{background-color:#eeccda}
.ace-nav>li>div.open.light-pink>a{background-color:#eeccda !important}
.ace-nav>li>div.dark>a{background-color:#404040}.ace-nav>li>div.dark>a:hover,.ace-nav>li>div.dark>a:focus{background-color:#363636}
.ace-nav>li>div.open.dark>a{background-color:#363636 !important}
.ace-nav>li>div.white-opaque>a{background-color:rgba(255,255,255,0.8)}.ace-nav>li>div.white-opaque>a:hover,.ace-nav>li>div.white-opaque>a:focus{background-color:rgba(245,245,245,0.8)}
.ace-nav>li>div.open.white-opaque>a{background-color:rgba(245,245,245,0.8) !important}
.ace-nav>li>div.dark-opaque>a{background-color:rgba(0,0,0,0.2)}.ace-nav>li>div.dark-opaque>a:hover,.ace-nav>li>div.dark-opaque>a:focus{background-color:rgba(0,0,0,0.2)}
.ace-nav>li>div.open.dark-opaque>a{background-color:rgba(0,0,0,0.2) !important}
.ace-nav>li>div.margin-4{margin-left:4px}
.ace-nav>li>div.margin-3{margin-left:3px}
.ace-nav>li>div.margin-2{margin-left:2px}
.ace-nav>li>div.margin-1{margin-left:1px}
.ace-nav>li>div.no-border{border:none !important}
.ace-nav>li>div .dropdown-menu{z-index:1031}
.dropdown-body{border-color:#bcd4e5}.dropdown-body>li{padding:0 8px;background-color:#FFFFFF}.dropdown-body>li>[class*="icon-"],.dropdown-body>li>a>[class*="icon-"]{margin-right:5px !important;color:#555;font-size:14px}
.dropdown-body>li>a{padding:10px 2px;margin:0;border-bottom:1px solid;font-size:12px;line-height:16px;color:#555;display:block;clear:both;font-weight:normal;white-space:nowrap;text-decoration:none}.dropdown-body>li>a:active,.dropdown-body>li>a:hover,.dropdown-body>li>a:focus{background-color:transparent !important;color:#555}
.dropdown-body>li>a .progress{margin-bottom:0;margin-top:4px}
.dropdown-body>li>a .badge{line-height:16px;padding-right:4px;padding-left:4px;font-size:12px}
.dropdown-body>li:hover{background-color:#f4f9fc !important}
.dropdown-body>li.dropdown-header{background-color:#ecf2f7 !important;color:#8090a0;border-bottom-color:#bcd4e5}.dropdown-body>li.dropdown-header>[class*="icon-"]{color:#8090a0}
.dropdown-body>li>a{border-bottom-color:#e4ecf3}
.dropdown-body.navbar-pink{border-color:#e5bcd4}.dropdown-body.navbar-pink>li:hover{background-color:#fcf4f9 !important}
.dropdown-body.navbar-pink>li.dropdown-header{background-color:#f7ecf2 !important;color:#b471a0;border-bottom-color:#e5bcd4}.dropdown-body.navbar-pink>li.dropdown-header>[class*="icon-"]{color:#c06090}
.dropdown-body.navbar-pink>li>a{border-bottom-color:#f3e4ec}
.dropdown-body.navbar-grey{border-color:#e5e5e5}.dropdown-body.navbar-grey>li:hover{background-color:#f8f8f8 !important}
.dropdown-body.navbar-grey>li.dropdown-header{background-color:#f2f2f2 !important;color:#3a87ad;border-bottom-color:#e5e5e5}.dropdown-body.navbar-grey>li.dropdown-header>[class*="icon-"]{color:#3a87ad}
.dropdown-body.navbar-grey>li>a{border-bottom-color:#eee}
.dropdown-body.navbar-green{border-color:#b4d5ac}.dropdown-body.navbar-green>li:hover{background-color:#f4f9ef !important}
.dropdown-body.navbar-green>li.dropdown-header{background-color:#ebf7e4 !important;color:#8a6;border-bottom-color:#b4d5ac}.dropdown-body.navbar-green>li.dropdown-header>[class*="icon-"]{color:#90c060}
.dropdown-body.navbar-green>li>a{border-bottom-color:#ecf3e4}
.tags{width:auto}
.ace-thumbnails>li{border:none}
.twitter-typeahead{display:block !important}
.tt-input{background-color:white !important}
.tt-dropdown-menu{width:400px;margin-top:12px;padding:8px 0;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.2);-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2)}
.tt-suggestion{padding:3px 20px}
.tt-suggestion.tt-cursor{color:#fff;background-color:#0097cf}
.tt-suggestion p{margin:0}
.tt-suggestion{padding:8px 20px}
.tt-suggestion+.tt-suggestion{border-top:1px solid #ccc}
.repo-language{float:left;font-style:italic}.repo-language img{max-height:50px}
.repo-name{font-weight:bold}
.repo-description{font-size:14px}
