<li>
    <a href="#profile">
        <i class="icon-file-text-alt"></i>
        <span class="menu-text">プロフィール</span>
    </a>
</li>
<li>
    <a href="#search">
        <i class="icon-desktop"></i>
        <span class="menu-text">案件探し</span>
    </a>
</li>
<li>
    <a href="#calendar">
        <i class="icon-calendar"></i>
        <span class="menu-text">カレンダ</span>
    </a>
</li>
<li>
    <a href="#timecard">
        <i class="icon-list-alt"></i>
        <span class="menu-text">勤務管理</span>
    </a>
</li>
<li>
    <a href="#mailbox">
        <i class="icon-inbox"></i>
        <span class="menu-text">メールボックス</span>
    </a>
</li>