<div>

    <li>
        <a href="#resume">
            <i class="icon-file-text-alt"></i>
            <span class="menu-text">私の履歴書</span>
        </a>
    </li>
    <li>
        <a href="#search">
            <i class="icon-desktop"></i>
            <span class="menu-text">案件探し</span>
        </a>
    </li>
    <li>
        <a href="#timecard">
            <i class="icon-calendar"></i>
            <span class="menu-text">勤務管理</span>
        </a>
    </li>
<!--     <a href="#" id="menu-toggler" class="menu-toggler">
        <span class="menu-text"></span>
    </a>

    <div id="sidebar" class="sidebar">
        <ul class="nav nav-list">
        </ul>

        <div id="sidebar-collapse" class="sidebar-collapse">
            <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
        </div>

    </div> -->

</div>
