<ul class="nav ace-nav">

    <li class="light-blue2">
        <a href="#"><span class="icon-gears"></span></a>
    </li>

    <li class="light-orange">
        <a class="dropdown-toggle" href="/#" data-toggle="dropdown"><span class="icon-bell"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">All Product</a></li>
            <li><a href="#">New Product</a></li>
        </ul>
    </li>

    <li class="light-green">
        <a href="#"><span class="icon-envelope-alt"></span></a>
    </li>

    <li class="light-blue">
        <a class="dropdown-toggle" href="/#" data-toggle="dropdown">
            <img class="nav-user-photo" src="<%- obj.photo %>" alt="">
            <span class="user-info"><small>こんにちは,</small>太郎さん</span>
        </a>
        <ul class="dropdown-menu user-menu pull-right dropdown-blue dropdown-caret">
            <li>
                <a href="/logout"><i class="icon-signout"></i>ログアウト</a>
            </li>
        </ul>
    </li>

</ul>