<div class="profile-info-name">
    <i class="icon-calendar"></i>&nbsp;
    生年月日
</div>
<div class="profile-info-value">
    <div class="sl-value">
        <%
            if (obj.birthDayDisplay)
                print(obj.birthDayDisplay);
            else
                print('<span class="text-muted">クリックして編集</span>');
        %>
    </div>
    <div class="sl-editor row form-group">
        <div class="col-sm-12 input-group">
            <span class="input-group-addon">
                <i class="icon-calendar bigger-110"></i>
            </span>
            <input type="text" id="birthday-item" class="input-medium" placeholder="yyyy/mm/dd" name="birthDay" value="<%- obj.birthDayInput %>">
        </div>
    </div>
</div>