<div class="profile-info-name">
    <i class="icon-heart"></i>&nbsp;
    婚姻状況
</div>
<div class="profile-info-value">
    <div class="sl-value">
        <%
            if (obj.marriage)
                print(obj.marriage);
            else
                print('<span class="text-muted">クリックして編集</span>');
        %>
    </div>
    <div class="sl-editor">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-sm btn-info <% if (obj.marriage === '既婚') print('active') %>">
                <i class="icon-heart bigger-110"></i>&nbsp;&nbsp;既婚
                <input type="radio" name="marriage" value="既婚" />
            </label>
            <label class="btn btn-sm btn-success <% if (obj.marriage === '未婚') print('active') %>">
                <i class="icon-heart-empty bigger-110"></i>&nbsp;&nbsp;未婚
                <input type="radio" name="marriage" value="未婚" />
            </label>
        </div>
    </div>
</div>