<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="form-group col-sm-8" style="margin-bottom: 0px;">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-edit bigger-150"></i></span>
                    <input type="text" placeholder="案件名称" name="name" value="<%= obj.name %>">
                </div>
            </div>
            <div class="col-sm-4 align-right">
                <button class="btn btn-sm btn-success btn-save"><i class="icon-ok"></i> 保存</button>
                <button class="btn btn-sm" data-dismiss="modal"><i class="icon-remove"></i> 取消</button>
            </div>
        </div>
    </div>

    <div class="row modal-body overflow-visible">

        <div class="basic-info col-xs-12 col-sm-6">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-map-marker bigger-110"></i></span>
                    <input type="text" class="col-xs-12" placeholder="作業場所" name="address" value="<%= obj.address %>">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-daterange">
                    <span class="input-group-addon sl-input-group-addon"><i class="icon-calendar bigger-110"></i></span>
                    <input type="text" class="input-medium" placeholder="応募締日" name="expiredDate" value="<%= obj.expiredDate ? moment(obj.expiredDate).format('L') : '' %>">
                    <span class="input-group-addon"><i class="icon-time bigger-110"></i></span>
                    <div class="bootstrap-timepicker">
                        <input type="text" class="input-medium " placeholder="時間" name="expiredTime" value="<%= obj.expiredTime %>">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div id="duration" class="input-group input-daterange">
                    <span class="input-group-addon sl-input-group-addon"><i class="icon-flag-alt bigger-110"></i></span>
                    <input type="text" placeholder="作業開始日" name="startDate" value="<%= obj.startDate ? moment(obj.startDate).format('L') : '' %>">
                    <span class="input-group-addon"><i class="icon-arrow-right bigger-110"></i></span>
                    <input type="text" placeholder="作業終了日" name="endDate" value="<%= obj.endDate ? moment(obj.endDate).format('L') : '' %>">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-daterange">
                    <span class="input-group-addon sl-input-group-addon"><i class="icon-jpy bigger-110"></i></span>
                    <input type="text" placeholder="単金下限" name="priceBottom" value="<%= obj.priceBottom %>">
                    <span class="input-group-addon"><i class="icon-arrow-right bigger-110"></i></span>
                    <input type="text" placeholder="単金上限" name="priceTop" value="<%= obj.priceTop %>">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-bullhorn bigger-110"></i></span>
                    <input type="text" class="col-xs-12" placeholder="募集人数" name="recruitNum" value="<%= obj.recruitNum %>">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-microphone bigger-110"></i></span>
                    <input type="text" class="col-xs-12" placeholder="面接回数" name="interviewNum" value="<%= obj.interviewNum %>">
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input class="ace" type="checkbox" name="foreignerAllowed" <% if (obj.foreignerAllowed) print('checked'); %>/>
                    <span class="lbl"> 外国籍可</span>
                </label>
            </div>
        </div>

        <div id="languages" class="col-xs-12 col-sm-6"></div>

        <div id="skills" class="col-xs-12 col-sm-6"></div>

        <div class="col-xs-12">
            <div class="hr hr-double dotted"></div>
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4 class="lighter"><i class="icon-briefcase"></i>&nbsp;仕事の紹介</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main padding-6">
                        <div class="wysiwyg-editor">
                            <%= obj.remark %>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-sm btn-success btn-save"><i class="icon-ok"></i>&nbsp;保存</button>
        <button class="btn btn-sm" data-dismiss="modal"><i class="icon-remove"></i>&nbsp;取消</button>
    </div>
</div>