<%
    var widgetColor = "";

    if (moment(obj.expiredDate).isBefore(moment()))
        widgetColor = "header-color-grey";
%>

<div class="widget-box">
    <div class="widget-header widget-header-flat <%= widgetColor %>">

        <a href="#profile/<%= obj._owner.id %>">
            <img class="avatar" src="<%= obj._owner.photo %>">
        </a>

        <!-- job name -->
        <h5 class="bigger"><%= obj.name %></h5>

        <!-- address -->
        <% if (obj.address) { %>
            <span class="label label-lg label-primary arrowed arrowed-right">
                <i class="icon-map-marker bigger-120"></i>&nbsp;&nbsp;<%= obj.address%>
            </span>
        <% } %>

        <!-- price -->
        <% if (obj.priceBottom || obj.priceTop) { %>
            <span class="label label-lg label-success arrowed arrowed-right">
                <i class="icon-jpy bigger-120"></i>&nbsp;&nbsp;<%= obj.priceBottom %>～<%= obj.priceTop %>万円
            </span>
        <% } %>

        <!-- duration -->
        <% if (obj.startDate || obj.endDate) { %>
            <span class="label label-lg label-pink arrowed arrowed-right">
                <i class="icon-calendar bigger-120"></i>&nbsp;&nbsp;<%= moment(obj.startDate).format('LL') %>～<%= moment(obj.endDate).format('LL') %>
            </span>
        <% } %>

        <div class="clearfix"></div>
    </div>

    <div class="widget-body">

        <div class="widget-main">

            <!-- recruitNum -->
            <% if (obj.recruitNum) { %>
                <span class="label label-lg label-purple arrowed arrowed-right">
                    <i class="icon-bullhorn bigger-120"></i>&nbsp;&nbsp;募集<%= obj.recruitNum %>人
                </span>
            <% } %>

            <!-- interviewNum -->
            <% if (obj.interviewNum) { %>
                <span class="label label-lg label-warning arrowed arrowed-right">
                    <i class="icon-microphone bigger-120"></i>&nbsp;&nbsp;面接<%= obj.interviewNum %>回
                </span>
            <% } %>

            <!-- foreignerAllowed -->
            <% if (!obj.foreignerAllowed) { %>
                <span class="label label-lg label-danger arrowed arrowed-right">
                    <i class="icon-globe bigger-120"></i>&nbsp;&nbsp;外国籍不可
                </span>
            <% } %>

            <!-- remark -->
            <% if (obj.remark) { %>
                <%= obj.remark %>
            <% } %>

            <% if (obj.languages.length) { %>
                <div class="hr hr8 hr-double"></div>
                <div class="clearfix">
                <%
                    var sortedLanguages = _.sortBy(obj.languages, function(language) {
                        return 0 - language.weight;
                    });

                    var span;

                    if (sortedLanguages.length === 2)
                        span = 'grid2';
                    else if (sortedLanguages.length > 2)
                        span = 'grid3';

                    _.each(sortedLanguages, function(language){

                        var color = '#9585bf';

                        if (language.weight > 85) {
                            color = '#59a84b';
                        } else if (language.weight > 70) {
                            color = '#2a91d8';
                        } else if (language.weight > 50) {
                            color = '#f2bb46';
                        } else if (language.weight > 30) {
                            color = '#ca5952';
                        }
                %>
                    <div class="<%= span %> center">
                        <div class="easy-pie-chart percentage" data-percent="<%= language.weight %>" data-color="<%= color %>">
                            <span class="percent"><%= language.weight %></span>%
                        </div>
                        <div class="space-2"></div>
                        <%= language.language %>
                    </div>
                <% }); %>
                </div>
            <% } %>

            <% if (obj.skills.length) { %>
                <div class="hr hr8 hr-double"></div>
                <div class="profile-skills">
                <%
                    var sortedSkills = _.sortBy(obj.skills, function(skill) {
                        return 0 - skill.weight;
                    });

                    _.each(sortedSkills, function(skill){

                        var progressClass = 'progress-bar-purple';

                        if (skill.weight > 85) {
                            progressClass = 'progress-bar-success';
                        } else if (skill.weight > 70) {
                            progressClass = '';
                        } else if (skill.weight > 50) {
                            progressClass = 'progress-bar-warning';
                        } else if (skill.weight > 30) {
                            progressClass = 'progress-bar-danger';
                        }
                %>
                    <div class="progress">
                        <div class="progress-bar <%= progressClass %>" style="width:<%= skill.weight %>%">
                            <span class="pull-left"><%= skill.skill %></span>
                            <span class="pull-right"><%= skill.weight %>pt</span>
                        </div>
                    </div>
                <% }); %>
                </div>
            <% } %>

        </div>

        <div class="widget-toolbox padding-8 clearfix">
            <span class="text-warning">
                <i class="icon-ban-circle bigger-110"></i>&nbsp;応募締日：
                <%= moment(obj.expiredDate).fromNow() %>
            </span>
        </div>

    </div>

</div>