<%
    var widgetColor = "";

    if (moment(obj.expiredDate).isBefore(moment()))
        widgetColor = "header-color-orange";
%>

<div class="widget-box" data-create-date="<%= moment(obj.createDate).valueOf() %>">
    <div class="widget-header widget-header-flat <%= widgetColor %>">

        <a href="#profile/<%= obj._owner.id %>">
            <img class="avatar" src="<%= obj._owner.photo %>">
        </a>

        <div class="widget-toolbar no-border hidden">
            <a class="yellow dropdown-toggle" data-toggle="dropdown">
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-yellow pull-right dropdown-caret dropdown-close">
                <li><a href="#" class="btn-edit"><i class="icon-pencil green bigger-110"></i>&nbsp;&nbsp;編集</a></li>
                <li><a href="#" class="btn-remove"><i class="icon-trash red bigger-110"></i>&nbsp;&nbsp;削除</a></li>
            </ul>
        </div>

        <!-- job name -->
        <h5 class="bigger lighter"><%= obj.name %></h5>

        <!-- address -->
        <% if (obj.address) { %>
            <span class="label label-lg label-primary arrowed arrowed-right">
                <i class="icon-map-marker bigger-120"></i>&nbsp;&nbsp;<%= obj.address%>
            </span>
        <% } %>

        <!-- duration -->
        <% if (obj.startDate || obj.endDate) { %>
            <span class="label label-lg label-pink arrowed arrowed-right">
                <i class="icon-calendar bigger-120"></i>&nbsp;&nbsp;<%= obj.startDateInput %>～<%= obj.endDateInput %>
            </span>
        <% } %>

        <!-- price -->
        <% if (obj.priceBottom || obj.priceTop) { %>
            <span class="label label-lg label-success arrowed arrowed-right">
                <i class="icon-jpy bigger-120"></i>&nbsp;&nbsp;<%= obj.priceBottom %>～<%= obj.priceTop %>万円
            </span>
        <% } %>

        <div class="clearfix"></div>
    </div>

    <div class="widget-body">

        <div class="widget-main">

            <div class="alert alert-danger clearfix" style="display: none;">
                <strong><i class="icon-warning-sign bigger-125"></i></strong>&nbsp;
                この案件を削除します、よろしいですか？
                <br />
                <br />
                <p>
                    <button class="btn btn-sm btn-warning btn-remove-cancel pull-right">取消</button>
                    <button class="btn btn-sm btn-danger btn-remove-comfirm pull-right">削除</button>
                </p>
            </div>

            <!-- remark -->
            <% if (obj.remark) { %>
                <div>
                    <%= obj.remark %>
                </div>
            <% } %>

            <!-- recruitNum -->
            <% if (obj.recruitNum) { %>
                <span class="label label-lg label-purple arrowed arrowed-right">
                    <i class="icon-bullhorn bigger-120"></i>&nbsp;&nbsp;募集<%= obj.recruitNum %>人
                </span>
            <% } %>

            <!-- interviewNum -->
            <% if (obj.interviewNum) { %>
                <span class="label label-lg label-warning arrowed arrowed-right">
                    <i class="icon-microphone bigger-120"></i>&nbsp;&nbsp;面接<%= obj.interviewNum %>回
                </span>
            <% } %>

            <!-- foreignerAllowed -->
            <% if (!obj.foreignerAllowed) { %>
                <span class="label label-lg label-danger arrowed arrowed-right">
                    <i class="icon-globe bigger-120"></i>&nbsp;&nbsp;外国籍不可
                </span>
            <% } %>

            <div id="language"></div>

            <div id="skill"></div>

        </div>

        <div class="widget-toolbox padding-8 clearfix">
            <span class="text-warning">
                <i class="icon-ban-circle bigger-110"></i>&nbsp;応募締日：
                <%= moment(obj.expiredDate).fromNow() %>
            </span>
        </div>

    </div>

</div>