@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "variables.less";
@import "mixins.less";

.navbar-brand {
    padding-top: 15px !important;
}

.navbar-form {

    input, button {
        margin-right: 5px;
    }
}

.gritter-item {
    font-size: 12px;
}

.input-group {

    margin-bottom: 10px;

    i {
        min-width: 15px;
    }
}

.signup-box {
    border: 3px solid rgb(118, 183, 116);

    .alert-danger, .alert-success {
        display: none;
    }
}

input {
    line-height: normal !important;
}