@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "variables.less";
@import "mixins.less";

.sidebar {

    .transition(width 0.5s);

    &:before {
        .transition(width 0.5s);
    }
}

// adjust font for japanese
.gritter-item {
    font-size: 12px;
}

.sl-editable {

    // highlight the editable
    .transition(background-color 1s);

    &:hover {
        background-color: #EEE;
        cursor: pointer;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .sl-editor {
        display: none;

        input {
            line-height: normal;
        }
    }
}

.label {
  line-height: 1.5;
  margin-left: 15px;
  padding-left: 7px;
  padding-right: 7px;
}

.badge {
  top: -2px !important;
  padding-top: 2px;
  padding-bottom: 1px;
}

#sl-basic-info .sl-editable {

  min-height: 48px;

  .profile-info-name,.sl-value {
      line-height: 33px;
  }
}

// profile photo, cancel the float for FF
.ace-thumbnails > li {
  border: 0px;
  float: none;
}

// add some space for address input
#zipCodeArea {
  margin-bottom: 10px;
}

#language-composite {

  .grid2, .grid3, .grid4 {

    min-height: 113px;

    margin-bottom: 6px;
    padding-top: 6px;

    border-left: none;

    .sl-value {
      margin-top: -10px;
    }

    .sl-editor {
      margin-top: -5px;
    }

    // for the delete button append on select
    .input-group-btn .btn {
      min-height: 30px;
      margin-left: -2px;
    }
  }
}

#skill-composite {

  .sl-editable {
    min-height: 40px;
    padding: 7px;
  }

  // for the delete button append on select
  .input-group-btn .btn {
    min-height: 33px;
  }
}

#qualification-composite {

  .sl-editable {
    padding: 7px;
  }

  blockquote {
    margin: 0px;
  }

  .row {
    margin-top: 5px;

    &:first-child {
      margin-top: 0px;
    }
  }

  i {
    width: 14px;
  }
}

#education-composite {

  .sl-editable {
    padding: 7px;
  }

  blockquote {
    margin: 0px;
  }

  .row {
    margin-top: 5px;

    &:first-child {
      margin-top: 0px;
    }
  }

  i {
    width: 14px;
  }
}

#employment-composite {

  .sl-editable {
    padding: 7px;
  }

  blockquote {
    margin: 0px;
  }

  .row {
    margin-top: 5px;

    &:first-child {
      margin-top: 0px;
    }
  }

  i {
    width: 14px;
  }
}

#event-modal {

  input {
      line-height: normal;
  }

  .row {
    margin-top: 15px;

    &:first-child {
      margin-top: 0px;
    }
  }

  .checkbox {
    margin-top: 4px;
    margin-bottom: 0px;
  }

  .wysiwyg-editor {
    margin: 0 15px;
    height: 150px;
  }

  .wysiwyg-toolbar {
    margin: 0 15px !important;
  }
}

/* the norm */
#gritter-notice-wrapper {
  top: 50px;
}

// expand effect for event on calendar
#external-events > div,.fc-event-container > div {

  &:hover {
    text-decoration:none;
    .transition(~"all 0.2s");
    .transform(~"scale(1.1)");
    opacity:0.85;
  }
}

.fc-event-inner {
  padding: 3px 5px;

  .sl-event-memo {
    padding: 10px 15px;
  }
}

// highlight the error input with animation
.animated-input-error  {
  display: inline-block;
  .animation(~"vertical 2.0s 3 ease 0.5s");
}

@-moz-keyframes vertical {
  0% { -moz-transform: translate(0,-3px);}
  4% { -moz-transform: translate(0,3px);}
  8% { -moz-transform: translate(0,-3px);}
  12% { -moz-transform: translate(0,3px);}
  16% { -moz-transform: translate(0,-3px);}
  20% { -moz-transform: translate(0,3px);}
  22% { -moz-transform: translate(0,0);}
}
@-webkit-keyframes vertical {
  0% { -webkit-transform: translate(0,-3px);}
  4% { -webkit-transform: translate(0,3px);}
  8% { -webkit-transform: translate(0,-3px);}
  12% { -webkit-transform: translate(0,3px);}
  16% { -webkit-transform: translate(0,-3px);}
  20% { -webkit-transform: translate(0,3px);}
  22% { -webkit-transform: translate(0,0);}
}
@-ms-keyframes vertical {
  0% { -ms-transform: translate(0,-3px);}
  4% { -ms-transform: translate(0,3px);}
  8% { -ms-transform: translate(0,-3px);}
  12% { -ms-transform: translate(0,3px);}
  16% { -ms-transform: translate(0,-3px);}
  20% { -ms-transform: translate(0,3px);}
  22% { -ms-transform: translate(0,0);}
}
@keyframes vertical {
  0% { transform: translate(0,-3px);}
  4% { transform: translate(0,3px);}
  8% { transform: translate(0,-3px);}
  12% { transform: translate(0,3px);}
  16% { transform: translate(0,-3px);}
  20% { transform: translate(0,3px);}
  22% { transform: translate(0,0);}
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}