@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "variables.less";
@import "mixins.less";

.sidebar {

    .transition(width 0.5s);

    &:before {
        .transition(width 0.5s);
    }
}

.resume {

    // border-radius: 5px;
    .box-shadow(1px 1px 3px #808080);
}

.sl-editable {

    .transition(background-color 1s);

    min-height: 48px;

    &:hover {
        background-color: #EEE;
        cursor: pointer;
    }

    .profile-info-name,.sl-value {
        line-height: 33px;
    }

    .sl-editor {
        display: none;

        input {
            line-height: normal;
        }
    }
}