<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="pink">
            <i class="icon-bug bigger-110"></i>&nbsp;&nbsp;
            <strong>バッグ発見！</strong>
        </h4>
    </div>

    <div class="modal-body overflow-visible">

        <div class="alert alert-info">
            <strong>ご迷惑を掛けしましたが・・・</strong>
            <br />
            ご不便を掛けまして大変申し訳ございませんが、ご質問や、お気になることをご記入していただき、こちらの開発者達から答えさせていただきます。ご協力ありがとうございます。  
        </div>

        <div class="wysiwyg-editor"></div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-sm btn-pink btn-save"><i class="icon-ok"></i> 送信</button>
        <button class="btn btn-sm" data-dismiss="modal"><i class="icon-remove"></i> 取消</button>
    </div>
</div>