<li>
    <a href="#resume">
        <i class="icon-file-text-alt"></i>
        <span class="menu-text">私の履歴書</span>
    </a>
</li>
<li>
    <a class="dropdown-toggle" href="#">
        <i class="icon-group"></i>
        <span class="menu-text">ユーザ管理</span>
        <b class="arrow icon-angle-down"></b>
    </a>
    <ul class="submenu">
        <li>
            <a href="#administrator">
                <i class="icon-double-angle-right"></i>
                管理者
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                会社
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                営業者
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                技術者
            </a>
        </li>
    </ul>
</li>
<li>
    <a class="dropdown-toggle" href="#">
        <i class="icon-file-text-alt"></i>
        <span class="menu-text">データ管理</span>
        <b class="arrow icon-angle-down"></b>
    </a>
    <ul class="submenu">
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                語学力
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                スキル
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                業務分野
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                工程
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                役割
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                タグ
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#timecard">
        <i class="icon-calendar"></i>
        <span class="menu-text">勤務管理</span>
    </a>
</li>