<li>
    <a href="#home">
        <i class="icon-home"></i>
        <span class="menu-text">ホーム</span>
    </a>
</li>
<li>
    <a href="#post">
        <i class="icon-file-text-alt"></i>
        <span class="menu-text">投稿</span>
    </a>
</li>
<li>
    <a href="#friend">
        <i class="icon-group"></i>
        <span class="menu-text">友達</span>
    </a>
</li>
<li>
    <a href="#calendar">
        <i class="icon-calendar"></i>
        <span class="menu-text">カレンダ</span>
    </a>
</li>
<li>
    <a href="#user">
        <i class="icon-user"></i>
        <span class="menu-text">ユーザ管理</span>
        <b class="arrow icon-angle-down"></b>
    </a>
</li>
<li>
    <a class="dropdown-toggle" href="#">
        <i class="icon-table"></i>
        <span class="menu-text">データ管理</span>
        <b class="arrow icon-angle-down"></b>
    </a>
    <ul class="submenu">
        <li>
            <a href="#tag">
                <i class="icon-double-angle-right"></i>
                <i class="icon-tags"></i>
                <span class="menu-text">タグ</span>
            </a>
        </li>
        <li>
            <a href="#solr">
                <i class="icon-double-angle-right"></i>
                <i class="icon-random"></i>
                <span class="menu-text">インデックス</span>
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#announcement">
        <i class="icon-bullhorn"></i>
        <span class="menu-text">システム公告</span>
    </a>
</li>
<li>
    <a href="#issue">
        <i class="icon-bug"></i>
        <span class="menu-text">イッシュ</span>
    </a>
</li>