<li>
    <a href="#home">
        <i class="icon-home"></i>
        <span class="menu-text">ホーム</span>
    </a>
</li>
<li>
    <a href="#post">
        <i class="icon-file-text-alt"></i>
        <span class="menu-text">投稿</span>
    </a>
</li>
<li>
    <a href="#friend">
        <i class="icon-group"></i>
        <span class="menu-text">友達</span>
    </a>
</li>
<li>
    <a href="#calendar">
        <i class="icon-calendar"></i>
        <span class="menu-text">カレンダ</span>
    </a>
</li>
<li>
    <a class="dropdown-toggle" href="#">
        <i class="icon-desktop"></i>
        <span class="menu-text">ユーザ管理</span>
        <b class="arrow icon-angle-down"></b>
    </a>
    <ul class="submenu">
        <li>
            <a href="#administrator">
                <i class="icon-double-angle-right"></i>
                管理者
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                会社
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                営業者
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                技術者
            </a>
        </li>
    </ul>
</li>
<li>
    <a class="dropdown-toggle" href="#">
        <i class="icon-file-text-alt"></i>
        <span class="menu-text">データ管理</span>
        <b class="arrow icon-angle-down"></b>
    </a>
    <ul class="submenu">
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                語学力
            </a>
        </li>
        <li>
            <a href="#skill">
                <i class="icon-double-angle-right"></i>
                スキル
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                業務分野
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                工程
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                役割
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-double-angle-right"></i>
                タグ
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#announcement">
        <i class="icon-bullhorn"></i>
        <span class="menu-text">システム公告</span>
    </a>
</li>
<li>
    <a href="#issue">
        <i class="icon-bug"></i>
        <span class="menu-text">イッシュ</span>
    </a>
</li>