<div class="widget-header">
    <h4 class="lighter"><i class="icon-ticket"></i>&nbsp;資格</h4>
    <div class="widget-toolbar no-border">
        <a class="btn-add tooltip-info light-blue" href="#"><i class="icon-plus"></i></a>
        <a class="btn-sort tooltip-warning light-orange" href="#"><i class="icon-sort-by-order-alt"></i></a>
        <a class="btn-handle tooltip-success light-green" href="#"><i class="icon-reorder"></i></a>
    </div>
</div>
<div class="widget-body">
    <div class="widget-main padding-6 no-padding-left no-padding-right">
    </div>
    <div class="clearfix"></div>
</div>