<div class="widget-header">
    <h4 class="lighter"><i class="icon-wrench"></i>&nbsp;スキル</h4>
    <div class="widget-toolbar no-border">
        <a class="btn-add tooltip-info light-blue" href="#"><i class="icon-plus"></i></a>
        <a class="btn-sort tooltip-warning light-orange" href="#"><i class="icon-sort-by-attributes-alt"></i></a>
        <a class="btn-handle tooltip-success light-green" href="#"><i class="icon-reorder"></i></a>
    </div>
</div>
<div class="widget-body">
    <div class="profile-skills widget-container-span">
    </div>
    <div class="clearfix"></div>
</div>