<li>
    <a href="#profile">
        <i class="icon-file-text-alt"></i>
        <span class="menu-text">私の履歴書</span>
    </a>
</li>
<li>
    <a href="#jobIndex">
        <i class="icon-briefcase"></i>
        <span class="menu-text">案件管理</span>
    </a>
</li>
<li>
    <a href="#search">
        <i class="icon-group"></i>
        <span class="menu-text">要員探し</span>
    </a>
</li>
<li>
    <a href="#calendar">
        <i class="icon-calendar"></i>
        <span class="menu-text">勤務管理</span>
    </a>
</li>