<a href="#profile/<%= obj._from._id %>">
    <img src="<%= obj._from.photo %>" class="msg-photo" alt="">
    <span class="msg-body">
        <span class="msg-title">
            <span class="blue">
                <%= obj._from.firstName %>&nbsp;
                <%= obj._from.lastName %>&nbsp;
            </span>
            さんから友達になるリクエスト
        </span>
        <span class="msg-time">
            <i class="icon-time"></i>&nbsp;<span><% print(moment(obj.createDate).fromNow()) %></span>
        </span>
        <span class="msg-body">
            <button class="btn btn-minier btn-success btn-approve"><i class="icon-ok"></i>&nbsp;許可</button>
            <button class="btn btn-minier btn-pink btn-decline"><i class="icon-remove"></i>&nbsp;拒否</button>
        </span>
    </span>
</a>