<a class="dropdown-toggle" href="/#" data-toggle="dropdown">
    <span class="icon-bell-alt"></span>
    <% if (obj.notificationsNum > 0) { %>
        <span class="badge badge-danger"><%= obj.notificationsNum %></span>
    <% } %>
</a>
<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret navbar-pink">
    <li class="dropdown-header">
        <i class="icon-bell"></i>&nbsp;通知（<span class="title-num">0</span>件）
    </li>
    <div class="dropdown-body navbar-pink"></div>
    <li class="dropdown-footer center">
        <a href="#notification" class="blue">
            全通知へ
            <i class="icon-arrow-right"></i>
        </a>
    </li>
</ul>