<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="green">
            <i class="icon-refresh bigger-110"></i>&nbsp;&nbsp;
            <strong>パースワードリセット</strong>
        </h4>
    </div>

    <div class="modal-body overflow-visible">

        <div class="alert alert-info">
            <strong><i class="icon-question-sign bigger-110"></i>&nbsp;&nbsp;パースワードを忘れたら・・・</strong>
            <br />
            <br />
            <p>お手数ですが、ご登録時に使用したメールアドレスを教えていただければ、こちらからご専用のパースワードリセット案内メール情報を該当アドレスに送信させていただきます。メールの内容を沿って新しいパースワードを設定することができます。</p>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-envelope"></i></span>
                <input class="form-control" type="email" name="email" placeholder="メールアドレス（アカウントID）">
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-sm btn-success btn-save"><i class="icon-ok"></i> 送信</button>
        <button class="btn btn-sm" data-dismiss="modal"><i class="icon-remove"></i> 取消</button>
    </div>
</div>