<div>

    <div class="widget-body">

        <div class="widget-main">
            <h4 class="header green lighter bigger">
                <i class="icon-user blue"></i>&nbsp;&nbsp;新規ユーザ登録
            </h4>
            <div class="alert alert-danger">
                <button class="close" data-dismiss="alert"></button>
            </div>
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert"></button>
            </div>
            <p>下記内容をご入力ください：</p>
            <form>
                <fieldset>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-font"></i></span>
                        <input class="form-control" name="firstName" placeholder="姓">
                        <input class="form-control" name="lastName" placeholder="名">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-envelope"></i></span>
                        <input class="form-control" type="email" name="email" placeholder="メールアドレス">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-lock"></i></span>
                        <input class="form-control" type="password" name="password" placeholder="パースワード">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-retweet"></i></span>
                        <input class="form-control" type="password" name="password-conf" placeholder="パースワード（確認）">
                    </div>
                    <div class="space-12"></div>
                    <label class="block">
                        <input class="ace" type="checkbox" name="agreement">
                        <span class="lbl">&nbsp;私は<a href="#">SELinkの利用規約</a>を同意します。</span>
                    </label>
                    <div class="space-12"></div>
                    <div class="clearfix">
                        <button class="width-30 pull-left btn btn-sm" type="reset">
                            <i class="icon-refresh"></i>&nbsp;&nbsp;リセット
                        </button>
                        <button class="width-65 pull-right btn btn-sm btn-success btn-signup" type="reset" data-loading-text="<i class='icon-spinner icon-spin white bigger-125'></i>&nbsp;&nbsp;処理中・・・">
                            登録&nbsp;&nbsp;<i class="icon-arrow-right icon-on-right"></i>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="toolbar center">
            <a class="back-to-login-link" href="#"><i class="icon-arrow-left"></i>&nbsp;&nbsp;サイインへ</a>
        </div>

    </div>

</div>