<div>
    <div class="form-group">
        <input class="form-control input-medium" type="email" name="email" placeholder="メールアドレス">
    </div>
    <div class="form-group">
       <input class="form-control input-medium" type="password" name="password" placeholder="パースワード">
    </div>
    <button class="btn btn-success btn-sm btn-signin" type="submit" data-loading-text="<i class='icon-spinner icon-spin white bigger-125'></i>&nbsp;&nbsp;認証中・・・">
        <i class="icon-signin align-middle bigger-125"></i>&nbsp;&nbsp;ログイン
    </button>
</div>