<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="red">
            <i class="icon-book bigger-110"></i>&nbsp;&nbsp;
            <strong>SELink利用規約</strong>
        </h4>
    </div>

    <div class="modal-body overflow-visible blue" style="min-height: 500px; max-height: 500px;">
        Here will be the statements of use.
    </div>

    <div class="modal-footer">
        <button class="btn btn-sm btn-success" data-dismiss="modal"><i class="icon-ok"></i> 了解</button>
    </div>
</div>