<div class="alert alert-block alert-success">
    <p>
        <strong><i class="icon-warning-sign icon-animated-vertical bigger-150"></i>&nbsp;&nbsp;お友達はまだ作ってないようです。</strong>
    </p>
    <p>
        SELinkのお友達紹介リストでお知り合いを招待して、みんなと一緒に楽しみましょう！
    </p>
    <p>
        <a href="#search-friend" class="btn btn-lg btn-success btn-block">
            SELinkの皆さんと会いましょう！&nbsp;&nbsp;<i class="icon-arrow-right bigger-130"></i>&nbsp;&nbsp;<i class="icon-group bigger-130"></i>
        </a>
    </p>
</div>