<%
    var avatar = './asset/images/no_photo_male.gif';

    if (obj.photo) {
        avatar = obj.photo;
    } else if (obj.gender === "女") {
        avatar = './asset/images/no_photo_female.gif';
    }
%>

<a href="<%- avatar %>" title="<%- obj.firstName %>" data-rel="colorbox">
    <img alt="" src="<%- avatar %>" style="min-width: 150px; max-width: 150px;"/>
    <div class="tags">
        <span class="label-holder">
            <span class="label label-xlg label-success"><%- obj.firstName %>&nbsp;<%- obj.lastName %></span>
        </span>
        <% if (obj.title) { %>
        <span class="label-holder">
            <span class="label label-xlg label-info arrowed-in"><%- obj.title %></span>
        </span>
        <% } %>
    </div>
</a>
<div class="tools tools-top">
    <a href="#"><i class="icon-plus light-green btn-friend tooltip-success"></i></a>
    <a href="#"><i class="icon-star-empty orange2 btn-favorite tooltip-warning"></i></a>
    <a href="#"><i class="icon-envelope-alt light-blue btn-send tooltip-info"></i></a>
</div>