<div class="col-xs-12 col-sm-3">
    <div class="widget-box">
        <div class="widget-header widget-header-small header-color-blue">
            <h5><i class="icon-group"></i>&nbsp;お友達</h5>
        </div>

        <div class="widget-body">
            <div id="friends" class="widget-main"></div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-3">
    <div class="widget-box">
        <div class="widget-header widget-header-small header-color-red">
            <h5><i class="icon-refresh"></i>&nbsp;承認待ちリスト</h5>
        </div>

        <div class="widget-body">
            <div id="invited" class="widget-main"></div>
        </div>
    </div>
</div>