head(prefix="og: http://ogp.me/ns#")
  title
    | SELink Employer
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel='stylesheet', href='/css/bootstrap.min.css', media="screen")
  link(rel='stylesheet', href='/css/animate.min.css', media="screen")
  link(rel='stylesheet', href='/css/font-awesome.min.css', media="screen")
  link(rel='stylesheet', href='/css/jquery-ui-1.10.3.custom.min.css', media="screen")
  link(rel='stylesheet', href='/css/chosen.css', media="screen")
  link(rel='stylesheet', href='/css/fullcalendar.css', media="screen")
  link(rel='stylesheet', href='/css/jquery.gritter.css', media="screen")
  link(rel='stylesheet', href='/css/colorbox.css', media="screen")
  link(rel='stylesheet', href='/css/datepicker.css', media="screen")
  link(rel='stylesheet', href='/css/bootstrap-timepicker.css', media="screen")
  link(rel='stylesheet', href='/css/jquery.fileupload.css', media="screen")
  link(rel='stylesheet', href='/css/ace-fonts.css', media="screen")
  link(rel='stylesheet', href='/css/ace.css', media="screen")
  link(rel='stylesheet', href='/css/ace-rtl.min.css', media="screen")
  link(rel='stylesheet', href='/css/ace-skins.min.css', media="screen")
  link(rel='stylesheet', href='/css/style.css', media="screen")
  block css
  block js