<div class="timeline-info">
    <a href="#profile/<%= obj._owner._id %>"><img alt="" src="<%= obj._owner.photo %>" /></a>
</div>

<div class="widget-box">
    <div class="widget-header header-color-red widget-header-small">
        <h5 class="smaller">
            <i class="icon-edit bigger-110"></i>&nbsp;
            <strong><%= obj._owner.firstName %>&nbsp;<%= obj._owner.lastName %></strong>
            さんは<%= obj.title %>
        </h5>
        <span class="widget-toolbar no-border">
            <i class="icon-time bigger-110"></i>&nbsp;<%= moment(obj.createDate).fromNow() %>
        </span>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <%= obj.content %>
            <div class="widget-toolbox clearfix">
                <div class="pull-right action-buttons">
                    <div class="space-4"></div>
                    <div>
                        <a href="#"><i class="icon-heart-empty red bigger-125"></i></a>
                        <a href="#"><i class="icon-comment-alt light-green bigger-130"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>