!!! 5
html(lang="ja", xmlns="http://www.w3.org/1999/xhtml")

  //- header
  include partials/header

  //- body
  body

    //- top bar
    include partials/topbar

    //- container
    #main-container.main-container
      .main-container-inner

        //- side navigation
        include partials/sidenav

        //- content
        .main-content
          .page-content