<td>
    <% print(obj.start.format('M月D日 （dd）')); %>
</td>
<td>
    <div class="sl-editable">
        <div class="sl-value">9:00</div>
        <div class="sl-editor">
            <input type="text" class="input-small" placeholder="電話番号" name="telNo" value="<%- obj.telNo %>">
        </div>
    </div>
</td>
<td>
    <div class="sl-editable">
        <div class="sl-value">17:00</div>
        <div class="sl-editor">
            <input type="text" class="input-small" placeholder="電話番号" name="telNo" value="<%- obj.telNo %>">
        </div>
    </div>
</td>
<td>
    <div class="sl-editable">
        <div class="sl-value">1:00</div>
        <div class="sl-editor">
            <input type="text" class="input-small" placeholder="電話番号" name="telNo" value="<%- obj.telNo %>">
        </div>
    </div>
</td>
<td>
    <div class="sl-editable">
        <div class="sl-value">190</div>
        <div class="sl-editor">
            <input type="text" class="input-small" placeholder="電話番号" name="telNo" value="<%- obj.telNo %>">
        </div>
    </div>
</td>
<td>
    <div class="sl-editable">
        <div class="sl-value">メモ</div>
        <div class="sl-editor">
            <input type="text" placeholder="電話番号" name="telNo" value="<%- obj.telNo %>">
        </div>
    </div>
</td>