<div class="col-xs-12 col-sm-12">

    <div class="widget-box">

        <div class="widget-header header-color-blue">
            <h5 class="bigger lighter"><i class="icon-table"></i> <%= moment().format('YYYY年M月') %></h5>
            <div class="widget-toolbar no-border">
                <button class="btn btn-xs btn-success bigger"><i class="icon-chevron-left"></i>&nbsp;先月</button>
                <button class="btn btn-xs btn-success bigger">来月&nbsp;<i class="icon-chevron-right icon-on-right"></i></button>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-toolbox no-padding">
                <table class="table table-bordered table-timecard">
                    <thead class="thin-border-bottom">
                        <tr>
                            <th style="width: 15%;" class="text-center"><i class="icon-calendar"></i>&nbsp;日付</th>
                            <th style="width: 108px;" class="text-center"><i class="icon-flag-alt"></i>&nbsp;出社</th>
                            <th style="width: 108px;" class="text-center"><i class="icon-flag-checkered"></i>&nbsp;退社</th>
                            <th style="width: 108px;" class="text-center"><i class="icon-food"></i>&nbsp;休憩</th>
                            <th style="width: 108px;" class="text-center"><i class="icon-jpy"></i>&nbsp;交通費</th>
                            <th><i class="icon-pencil"></i>&nbsp;メモ</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="widget-main no-padding">
                <div class="slim-scroll">
                    <table class="table table-striped table-bordered table-hover table-timecard">
                        <tbody></tbody>
                    </table>
                </div>
                <div class="widget-toolbox no-padding clearfix">
                    <table class="table table-bordered table-timecard">
                        <tfoot class="thin-border-bottom red">
                            <tr>
                                <th style="width: 15%;" class="text-center"><i class="icon-time"></i>&nbsp;実働計</th>
                                <th style="width: 324px;" class="text-center"><%= obj.totalTime/60 %>時間</th>
                                <th style="width: 108px;" class="text-center"><%= obj.totalFee %>円</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>