a#menu-toggler.menu-toggler(href="#")
  span.menu-text
#sidebar.sidebar
  ul.nav.nav-list
    li
      a.dropdown-toggle(href="#")
        i.icon-group
        span.menu-text ユーザ管理
        b.arrow.icon-angle-down
      ul.submenu
        li
          a(href="#administrator")
            i.icon-double-angle-right
            | 管理者
        li
          a(href="#home")
            i.icon-double-angle-right
            | 会社
        li
          a(href="#")
            i.icon-double-angle-right
            | 営業者
        li
          a(href="#")
            i.icon-double-angle-right
            | 技術者
    li
      a(href="#")
        i.icon-list-alt
        span.menu-text 案件管理
    li
      a.dropdown-toggle(href="#")
        i.icon-file-text-alt
        span.menu-text データ管理
        b.arrow.icon-angle-down
      ul.submenu
        li
          a(href="#")
            i.icon-double-angle-right
            | 語学力
        li
          a(href="#")
            i.icon-double-angle-right
            | スキル
        li
          a(href="#")
            i.icon-double-angle-right
            | 業務分野
        li
          a(href="#")
            i.icon-double-angle-right
            | 工程
        li
          a(href="#")
            i.icon-double-angle-right
            | 役割
        li
          a(href="#")
            i.icon-double-angle-right
            | タグ
  #sidebar-collapse.sidebar-collapse
    i.icon-double-angle-left(data-icon1="icon-double-angle-left", data-icon2="icon-double-angle-right")
