<div class="row">

    <div class="col-md-3 center">
        <!-- photo -->
        <div class="profile-picture ace-thumbnails">
            <img class="img-responsive" src="<%= obj.photo %>">
        </div>
        <% if (obj.isFriend) { %>
            <button class="btn btn-danger btn-block btn-break"
                    data-loading-text="<i class='icon-spinner icon-spin white bigger-125'></i>&nbsp;&nbsp;リクエストを送信しています・・・">
                <i class="icon-unlink"></i>&nbsp;友達を解除
            </button>
        <% } else if (obj.isInvited) { %>
            <button class="btn btn-success btn-block disabled">
                <i class="icon-ok"></i>&nbsp;友達リクエスト送信済み
            </button>
        <% } else { %>
            <button class="btn btn-info btn-block btn-friend"
                    data-loading-text="<i class='icon-spinner icon-spin white bigger-125'></i>&nbsp;&nbsp;リクエストを送信しています・・・">
                <i class="icon-plus"></i>&nbsp;友達にする
            </button>
        <% } %>
    </div>

    <div class="col-md-8">

        <!-- name -->
        <div class="bigger-150">
            <%= obj.firstName %>&nbsp;<%= obj.lastName %>
        </div>

        <!-- title -->
        <% if (obj.title) { %>
            <div class="label label-xlg label-primary arrowed-in arrowed-in-right sl-title">
                <span><%= obj.title %></span>
            </div>
        <% } %>

        <!-- bio -->
        <% if (obj.birthDayDisplay) { %>
            <div>
                <!-- <h4 class="lighter"><i class="icon-quote-left"></i></h4> -->
                <%= obj.bio %>
            </div>
        <% } %>

    </div>

</div>

<div class="row">

    <div class="col-md-4">

        <div class="widget-box basic-info">

            <div class="widget-header">
                <h5>基本情報</h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">

                    <!-- telNo -->
                    <% if (obj.telNo) { %>
                        <div class="row" style="min-height: 40px; line-height: 40px;">
                            <div class="col-xs-4 align-right"><i class="icon-phone bigger-120 pink"></i>&nbsp;Tel.</div>
                            <div class="col-xs-8 align-left"><%= obj.telNo%></div>
                        </div>
                    <% } %>

                    <!-- email -->
                    <% if (obj.email) { %>
                        <div class="row" style="min-height: 40px; line-height: 40px;">
                            <div class="col-xs-4 align-right"><i class="icon-envelope bigger-120 green"></i>&nbsp;E-Mail</div>
                            <div class="col-xs-8 align-left"><%= obj.email%></div>
                        </div>
                    <% } %>

                    <!-- website -->
                    <% if (obj.webSite) { %>
                        <div class="row" style="min-height: 40px; line-height: 40px;">
                            <div class="col-xs-4 align-right"><i class="icon-globe bigger-120 blue"></i>&nbsp;個人サイト</div>
                            <div class="col-xs-8 align-left"><%= obj.webSite%></div>
                        </div>
                    <% } %>

                    <!-- address -->
                    <% if (obj.address) { %>
                        <div class="row" style="min-height: 40px; line-height: 40px;">
                            <div class="col-xs-4 align-right"><i class="icon-map-marker bigger-120 orange"></i>&nbsp;住所</div>
                            <div class="col-xs-8 align-left"><%= obj.address%></div>
                        </div>
                    <% } %>

                    <!-- station -->
                    <% if (obj.nearestSt) { %>
                        <div class="row" style="min-height: 40px; line-height: 40px;">
                            <div class="col-xs-4 align-right"><i class="icon-road bigger-120 orange"></i>&nbsp;最寄駅</div>
                            <div class="col-xs-8 align-left"><%= obj.nearestSt%></div>
                        </div>
                    <% } %>

                    <!-- birth day -->
                    <% if (obj.birthDayDisplay) { %>
                        <div class="row" style="min-height: 40px; line-height: 40px;">
                            <div class="col-xs-4 align-right"><i class="icon-calendar bigger-120"></i>&nbsp;生年月日</div>
                            <div class="col-xs-8 align-left"><%= obj.birthDayDisplay%></div>
                        </div>
                    <% } %>

                    <!-- nationality -->
                    <% if (obj.nationality) { %>
                        <div class="row" style="min-height: 40px; line-height: 40px;">
                            <div class="col-xs-4 align-right"><i class="icon-flag bigger-120"></i>&nbsp;国籍</div>
                            <div class="col-xs-8 align-left"><%= obj.nationality%></div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="widget-box basic-info">

            <div class="widget-header">
                <h5>スキル</h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="clearfix">
                    <% _.each(obj.languages, function(language){ %>
                        <div class="grid3 center">
                            <div class="easy-pie-chart percentage" data-percent="<%= language.weight %>" data-color="#CA5952">
                                <span class="percent"><%= language.weight %></span>%
                            </div>
                            <div class="space-2"></div>
                            <%= language.language %>
                        </div>
                    <% }); %>
                    </div>
                    <div class="hr hr-16"></div>
                    <div class="profile-skills">
                    <% _.each(obj.skills, function(skill){ %>
                        <div class="progress">
                            <div class="progress-bar" style="width:<%= skill.weight %>%">
                                <span class="pull-left"><%= skill.skill %></span>
                                <span class="pull-right"><%= skill.weight %></span>
                            </div>
                        </div>
                    <% }); %>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-8 board">

    </div>
</div>
