<%
    var avatar = './asset/images/no_photo_male.gif';

    if (obj.photo) {
        avatar = obj.photo;
    } else if (obj.gender === "女") {
        avatar = './asset/images/no_photo_female.gif';
    }
%>

<div class="widget-box">
    <div class="widget-header widget-header-flat">
        <a href="#profile/<%= obj._id %>" title="<%= obj.firstName %>"><img class="avatar" src="<%= avatar %>"></a>
        <h4>
            <strong><%= obj.firstName %>&nbsp;<%= obj.lastName %></strong>
        </h4>
        <% if (obj.title) { %>
            <span class="label label-primary arrowed-in-right arrowed-in"><%= obj.title %></span>
        <% } %>
        <% if (obj.employments.length) { %>
            <h5 class="blue">
                <i class="icon-building"></i>&nbsp;<%= _.last(obj.employments).company %>
                <span class="label label-sm label-primary arrowed arrowed-right"><%= _.last(obj.employments).position %></span>
            </h5>
        <% } %>
        <% if (obj.educations.length) { %>
            <h5 class="green">
                <i class="icon-book"></i>&nbsp;<%= _.last(obj.educations).school %>
                <span class="label label-sm label-success arrowed arrowed-right"><%= _.last(obj.educations).major %></span>
            </h5>
        <% } %>
    </div>

    <div class="widget-body">
        <div class="widget-main clearfix"><%= obj.bio %></div>
        <div class="widget-toolbox padding-8 clearfix">
            <button class="btn btn-info btn-block btn-friend" data-loading-text="<i class='icon-spinner icon-spin white bigger-125'></i>&nbsp;&nbsp;リクエストを送信しています・・・">
                <i class="icon-plus light-blue"></i>&nbsp;友達
            </button>
        </div>
    </div>
</div>