<%
    var avatar = './asset/images/no_photo_male.jpg';

    if (obj.photo) {
        avatar = obj.photo;
    } else if (obj.gender === "女") {
        avatar = './asset/images/no_photo_female.jpg';
    }
%>

<div class="widget-box" data-create-date="<%= moment(obj.createDate).valueOf() %>">

    <div class="widget-header widget-header-flat">

        <a href="#profile/<%= obj._id %>">
            <img class="avatar" src="<%= avatar %>" width="75px" height="75px">
        </a>

        <h4 class="widget-title smaller">
            <strong><%= obj.firstName %>&nbsp;<%= obj.lastName %></strong>
        </h4>

        <% if (obj.title) { %>
        <div class="widget-toolbar">
            <span class="label label-primary arrowed-in-right arrowed-in"><%= obj.title %></span>
        </div>
        <% } %>

    </div>

    <div class="widget-body">


        <div class="widget-main" style="padding-top: 0px;">

            <% if (obj.employments.length) { %>
                <h5 class="blue">
                    <i class="ace-icon fa fa-briefcase"></i>&nbsp;<%= _.last(obj.employments).company %>
                </h5>
            <% } %>

            <% if (obj.educations.length) { %>
                <h5 class="green">
                    <i class="ace-icon fa fa-university"></i>&nbsp;<%= _.last(obj.educations).school %>
                </h5>
            <% } %>

            <div class="clearfix"></div>

            <%= obj.bio %>

            <div class="clearfix"></div>
        </div>

        <div class="widget-toolbox padding-8 clearfix">
            <button class="btn btn-info btn-block btn-friend" data-loading-text="<i class='ace-icon fa fa-spinner fa-spin white bigger-125'></i>&nbsp;&nbsp;リクエストを送信しています・・・">
                <i class="ace-icon fa fa-plus light-blue"></i>&nbsp;友達
            </button>
        </div>
    </div>

</div>