<%
    var avatar = './asset/images/no_photo_male.gif';

    if (obj.photo) {
        avatar = obj.photo;
    } else if (obj.gender === "女") {
        avatar = './asset/images/no_photo_female.gif';
    }
%>
<div id="sl-basic-info" class="row">

    <div class="col-xs-12 col-md-3 center">

        <!-- photo -->
        <div class="profile-picture ace-thumbnails">
            <img class="img-responsive" src="<%- avatar %>">
        </div>

        <!-- name -->
        <div class="bigger-150">
            <%= obj.firstName %>&nbsp;<%= obj.lastName %>
        </div>

        <!-- title -->
        <% if (obj.title) { %>
            <div class="label label-xlg label-primary arrowed-in arrowed-in-right sl-title">
                <span><%= obj.title %></span>
            </div>
        <% } %>

        <!-- birth day -->
        <% if (obj.birthDayDisplay) { %>
            <div class="col-xs-12">
                <i class="icon-calendar sl-icon"></i>&nbsp;生年月日：<%= obj.birthDayDisplay%>
            </div>
        <% } %>

    </div>
    <div class="col-xs-12 col-md-9 row">
        <div id="marriage-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="nationality-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="address-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="nearestst-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="experience-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="telno-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="email-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="website-item" class="col-xs-12 col-md-6 sl-editable"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div id="bio-item" class="widget-container-span"></div>
        <div id="language-composite" class="widget-container-span"></div>
        <div id="skill-composite" class="widget-container-span"></div>
    </div>
    <div class="col-md-6">
        <div id="qualification-composite" class="widget-container-span"></div>
        <div id="education-composite" class="widget-container-span"></div>
        <div id="employment-composite" class="widget-container-span"></div>
    </div>
</div>