<div class="col-xs-3 align-right">
    <i class="icon-calendar"></i>&nbsp;
    作業期間
</div>
<div class="col-xs-9">
    <div class="sl-value">
        <%
            if (obj.startDate && !obj.endDate)
                print(obj.startDateDisplay + "〜");
            else if (!obj.startDate && obj.endDate)
                print("〜" + obj.endDateDisplay);
            else if (obj.startDate && obj.endDate)
                print(obj.startDateDisplay + "〜" + obj.endDateDisplay);
            else
                print('<span class="text-muted">クリックして編集</span>');
        %>
    </div>
    <div class="sl-editor row form-group">
        <div class="col-sm-12 col-md-4 input-group">
            <span class="input-group-addon">
                <i class="icon-flag-alt bigger-110"></i>
            </span>
            <input type="text" class="input-small" placeholder="開始日" name="startDate" value="<%- obj.startDate %>">
        </div>
        <div class="col-sm-12 col-md-4 input-group">
            <span class="input-group-addon">
                <i class="icon-flag-checkered bigger-110"></i>
            </span>
            <input type="text" class="input-small" placeholder="終了日" name="endDate" value="<%- obj.endDate %>">
        </div>
    </div>
</div>