<div id="name" class="page-header sl-editable"></div>

<div id="sl-basic-info" class="row col-xs-12 col-md-6">
    <div id="address" class="col-xs-12 sl-editable"></div>
    <div id="expired" class="col-xs-12 sl-editable"></div>
    <div id="duration" class="col-xs-12 sl-editable"></div>
    <div id="price" class="col-xs-12 sl-editable"></div>
    <div id="recruit" class="col-xs-12 sl-editable"></div>
    <div id="interview" class="col-xs-12 sl-editable"></div>
    <div id="native" class="col-xs-12 sl-editable"></div>
</div>

<div id="remark" class="col-xs-12 col-xs-6"></div>