<div id="name-item" class="page-header sl-editable"></div>

<div id="sl-basic-info" class="row col-xs-12 col-md-6">
    <div id="address-item" class="col-xs-12 sl-editable"></div>
    <div id="expired-item" class="col-xs-12 sl-editable"></div>
    <div id="duration-item" class="col-xs-12 sl-editable"></div>
    <div id="price-item" class="col-xs-12 sl-editable"></div>
    <div id="recruit-item" class="col-xs-12 sl-editable"></div>
    <div id="interview-item" class="col-xs-12 sl-editable"></div>
    <div id="native-item" class="col-xs-12 sl-editable"></div>
</div>

<div id="remark-item" class="col-xs-12 col-xs-6"></div>