<div class="col-xs-3 align-right">
    <i class="icon-user"></i>&nbsp;
    面接回数
</div>
<div class="col-xs-9">
    <div class="sl-value">
        <%
            if (obj.interviewNum)
                print(obj.interviewNum + "回");
            else
                print('<span class="text-muted">クリックして編集</span>');
        %>
    </div>
    <div class="sl-editor row form-group">
        <div class="col-sm-12 input-group">
            <span class="input-group-addon">
                <i class="icon-user bigger-110"></i>
            </span>
            <input type="text" class="col-xs-12" placeholder="面接回数" name="interviewNum" value="<%- obj.interviewNum %>">
        </div>
    </div>
</div>