<div class="col-xs-3 align-right">
    <i class="icon-jpy"></i>&nbsp;
    単価
</div>
<div class="col-xs-9">
    <div class="sl-value">
        <%
        if (obj.priceTop && !obj.priceBottom)
            print("〜" + obj.priceTop　+ "万円");
        else if (!obj.priceTop && obj.priceBottom)
            print(obj.priceBottom + "万円〜");
        else if (obj.priceTop && obj.priceBottom)
            print(obj.priceBottom + "〜" + obj.priceTop　+ "万円");
        else
            print('<span class="text-muted">クリックして編集</span>');
        %>
    </div>
    <div class="sl-editor row form-group">
        <div class="col-sm-12 col-md-4 input-group">
            <span class="input-group-addon">
                <i class="icon-circle-arrow-up bigger-110"></i>
            </span>
            <input type="text" class="input-small" placeholder="下限" name="priceBottom" value="<%- obj.priceBottom %>">
        </div>
        <div class="col-sm-12 col-md-4 input-group">
            <span class="input-group-addon">
                <i class="icon-circle-arrow-down bigger-110"></i>
            </span>
            <input type="text" class="input-small" placeholder="上限" name="priceTop" value="<%- obj.priceTop %>">
        </div>
    </div>
</div>