<div class="profile-info-name">
    <i class="icon-bullhorn"></i>&nbsp;
    募集人数
</div>
<div class="profile-info-value">
    <div class="sl-value">
        <%
            if (obj.recruitNum)
                print(obj.recruitNum);
            else
                print('<span class="text-muted">クリックして編集</span>');
        %>
    </div>
    <div class="sl-editor row form-group">
        <div class="col-sm-12 input-group">
            <span class="input-group-addon">
                <i class="icon-bullhorn bigger-110"></i>
            </span>
            <input type="text" class="col-xs-12" placeholder="募集人数" name="recruitNum" value="<%- obj.recruitNum %>">
        </div>
    </div>
</div>