<div class="widget-box">
    <div class="widget-header">
        <h5 class="bigger lighter"><%- obj.name %></h5>
        <div class="widget-toolbar">
            <a href="#jobEdit/<%= obj._id %>"><i class="icon-pencil"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main padding-16">
            <%- obj.address %>
        </div>

        <div class="widget-toolbox padding-8 clearfix">
            <span>作成日：<%- obj.createDateDisplay %></span>
        </div>

    </div>

</div>