<div class="widget-header">
    <h4 class="lighter"><i class="icon-quote-left"></i>&nbsp;自己紹介</h4>
    <div class="widget-toolbar no-border">
        <a class="btn-handle tooltip-success" href="#" data-action="reload"><i class="icon-reorder"></i></a>
    </div>
</div>
<div class="widget-body">
    <div class="sl-editable">
        <div class="sl-value">
            <%
                if (obj.bio) print(obj.bio)
                else print('<div class="text-muted bigger-125 center">登録していません</div>');
            %>
        </div>
        <div class="sl-editor">
            <div class="wysiwyg-editor">
                <%= obj.bio %>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>