<div>
    <div class="profile-info-name">
        生年月日
    </div>
    <div class="profile-info-value">
        <div class="sl-value">
            1984年07月29日（29歳）
        </div>
        <div class="sl-editor row">
            <div class="col-sm-11 input-group">
                <span class="input-group-addon">
                    <i class="icon-calendar bigger-110"></i>
                </span>
                <input type="text" id="birthday-item" class="input-medium" placeholder="yyyy/mm/dd" name="birthDay" value="">
            </div>
        </div>
    </div>
</div>