<div class="sl-value">
    <blockquote>
        <p>
            <i class="icon-building bigger-110 blue"></i>&nbsp;
            <span id="company-value"> 
            <%
                if (obj.company) print(obj.company);
                else print('<span class="text-muted">会社名</span>');
            %>
            </span>
            <span id="position-value">                
            <%
                if (obj.position) print('<span class="label label-sm label-primary arrowed arrowed-right">' + obj.position + '</span>');
            %>
            </span>
        </p>
        <small id="duration-value">
            <%
                if (obj.startDate && !obj.endDate) 
                    print(obj.startDateDisplay + "〜");
                else if (!obj.startDate && obj.endDate) 
                    print("〜" + obj.endDateDisplay);
                else if (obj.startDate && obj.endDate) 
                    print(obj.startDateDisplay + "〜" + obj.endDateDisplay);
                else 
                    print('<span class="text-muted">未入力</span>');
            %>
        </small>
        <small id="address-value">                
            <%
                if (obj.address) print(obj.address);
            %>
        </small>
    </blockquote>
</div>
<div class="sl-editor">
    <div class="row form-group">
        <div class="col-md-12 input-group">
            <span class="input-group-addon">
                <i class="icon-building bigger-110"></i>
            </span>
            <input type="text" placeholder="会社名" name="company" value="<%- obj.company %>">
            <span class="input-group-btn">
                <button type="button" class="btn btn-danger btn-remove btn-xs"><i class="icon-trash bigger-150"></i></button>
            </span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12 input-group">
            <span class="input-group-addon">
                <i class="icon-map-marker bigger-110"></i>
            </span>
            <input type="text" placeholder="住所" name="address" value="<%- obj.address %>">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12 input-group">
            <span class="input-group-addon">
                <i class="icon-bookmark bigger-110"></i>
            </span>
            <input type="text" placeholder="職役" name="position" value="<%- obj.position %>">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="icon-calendar bigger-110"></i>
                </span>
                <input type="text" class="col-xs-12" placeholder="開始日" name="startDate" value="<%- obj.startDateInput %>">
            </div>
        </div>
        <div class="col-md-5 form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="icon-calendar bigger-110"></i>
                </span>
                <input type="text" class="col-xs-12" placeholder="終了日" name="endDate" value="<%- obj.endDateInput %>">
            </div>
        </div>
    </div>
</div>
