<div>
    <div class="profile-info-name">性別</div>
    <div class="profile-info-value">
        <div class="sl-value">
            男
        </div>
        <div class="sl-editor">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-sm btn-primary">
                    <i class="icon-male bigger-110"></i>&nbsp;&nbsp;男
                    <input class="sl-focus" type="radio" value="1" />
                </label>
                <label class="btn btn-sm btn-pink">
                    <i class="icon-female bigger-110"></i>&nbsp;&nbsp;女
                    <input class="sl-focus" type="radio" value="2" />
                </label>
<!--                 <button class="btn btn-sm btn-info btn-value"><i class="icon-male"></i>&nbsp;&nbsp;Male</button>
                <button class="btn btn-sm btn-info btn-value"><i class="icon-female"></i>&nbsp;&nbsp;Female</button> -->
            </div>
        </div>
    </div>
</div>