<div class="grid4 center sl-editable">
    <div class="knob-container inline">
        <input type="text" class="input-small knob" value="15" data-min="0" data-max="100" data-step="10" data-width="80" data-height="80" data-angleOffset="-125" data-angleArc="250"　data-thickness=".2" />
    </div>
    <div class="sl-value" style="margin-top: -20px;">英語</div>
    <div class="sl-editor row" style="margin-top: -20px;">
        <div class="col-sm-12">
            <select placeholder="国籍を選択して下さい" name="nationality">
                <option value="オーストラリア">英語</option>
                <option value="キリバス">中国語</option>
                <option value="クック諸島">日本語</option>
                <option value="サモア">韓国語</option>
            </select>
        </div>
    </div>
</div>