<div class="profile-info-name">
    婚姻状況
</div>
<div class="profile-info-value">
    <div class="sl-value">
        <%= obj.marriage %>a
    </div>
    <div class="sl-editor">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-sm btn-info">
                <i class="icon-heart bigger-110"></i>&nbsp;&nbsp;既婚
                <input type="radio" name="marriage" value="既婚" />
            </label>
            <label class="btn btn-sm btn-success">
                <i class="icon-heart-empty bigger-110"></i>&nbsp;&nbsp;未婚
                <input type="radio" name="marriage" value="未婚" />
            </label>
        </div>
    </div>
</div>