<div class="sl-value">
    <blockquote>
        <p>日本語能力試験１級</p>
        <small>取得日：1988年4月</small>
    </blockquote>
</div>
<div class="sl-editor row">
    <div class="col-sm-12 input-group">
        <select name="language">
            <option value="英語">英語</option>
            <option value="中国語">中国語</option>
            <option value="日本語">日本語</option>
            <option value="韓国語">韓国語</option>
        </select>
        <span class="input-group-btn">
            <button type="button" class="btn btn-danger btn-remove btn-xs"><i class="icon-trash bigger-150"></i></button>
        </span>
    </div>
</div>
