<div class="row">
    <div class="col-xs-12 col-md-3 center">
        <div id="photo-item" class="sl-editable"></div>
        <div id="name-item" class="sl-editable"></div>
        <div class="label label-xlg label-primary arrowed-in arrowed-in-right">
            <span>第一種情報技術者</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-9 row">
        <div id="birthday-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="gender-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="marriage-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="nationality-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="address-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div class="col-xs-12 col-md-6">
            <div class="profile-info-name">
                最寄駅
            </div>
            <div class="profile-info-value">
                京急川崎
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="profile-info-name">
                IT経験年数
            </div>
            <div class="profile-info-value">
                8年
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="profile-info-name">
                Tel.
            </div>
            <div class="profile-info-value">
                090-9103-4996
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="profile-info-name">
                E-Mail
            </div>
            <div class="profile-info-value">
                joe_19840729@hotmail.com
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="profile-info-name">
                個人サイト
            </div>
            <div class="profile-info-value">
                http://www.cvbakery.com
            </div>
        </div>
    </div>
</div>

<div class="space-20"></div>

<div class="row">

    <div class="col-xs-12 col-sm-6 widget-container-span">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="smaller"><i class="icon-check bigger-110"></i> 自己紹介</h4>
                <div class="widget-toolbar no-border">
                    <a href="#" data-action="settings"><i class="icon-cog"></i></a>
                    <a href="#" data-action="reload"><i class="icon-refresh"></i></a>
                    <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
                    <a href="#" data-action="close"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <p>
                    My job is mostly lorem ipsuming and dolor sit ameting as long as consectetur adipiscing elit.
                    </p>
                    <p>
                    Sometimes quisque commodo massa gets in the way and sed ipsum porttitor facilisis.
                    </p>

                    <p>
                    The best thing about my job is that vestibulum id ligula porta felis euismod and nullam quis risus eget urna mollis ornare.
                    </p>

                    <p>
                    Thanks for visiting my profile.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 widget-container-span">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="smaller"><i class="icon-comment bigger-110"></i> 語学力</h4>
                <div class="widget-toolbar no-border">
                    <a href="#" data-action="settings"><i class="icon-cog"></i></a>
                    <a href="#" data-action="reload"><i class="icon-refresh"></i></a>
                    <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
                    <a href="#" data-action="close"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="clearfix">
                        <div class="grid3 center">
                            <div class="easy-pie-chart percentage" data-percent="45" data-color="#CA5952">
                                <span class="percent">45</span>pt
                            </div>
                            <div class="space-2"></div>
                            英語
                        </div>

                        <div class="grid3 center">
                            <div class="center easy-pie-chart percentage" data-percent="90" data-color="#59A84B">
                                <span class="percent">90</span>pt
                            </div>
                            <div class="space-2"></div>
                            中国語
                        </div>

                        <div class="grid3 center">
                            <div class="center easy-pie-chart percentage" data-percent="80" data-color="#9585BF">
                                <span class="percent">80</span>pt
                            </div>
                            <div class="space-2"></div>
                            日本語
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 widget-container-span">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="smaller"><i class="icon-wrench bigger-110"></i> スキル</h4>
                <div class="widget-toolbar no-border">
                    <a href="#" data-action="settings"><i class="icon-cog"></i></a>
                    <a href="#" data-action="reload"><i class="icon-refresh"></i></a>
                    <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
                    <a href="#" data-action="close"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="profile-skills">
                        <div class="progress">
                            <div class="progress-bar" style="width:80%">
                                <span class="pull-left">HTML5 & CSS3</span>
                                <span class="pull-right">80pt</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width:72%">
                                <span class="pull-left">Javascript & jQuery</span>
                                <span class="pull-right">72pt</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-purple" style="width:70%">
                                <span class="pull-left">PHP & MySQL</span>
                                <span class="pull-right">70pt</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" style="width:50%">
                                <span class="pull-left">Wordpress</span>
                                <span class="pull-right">50pt</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" style="width:35%">
                                <span class="pull-left">Photoshop</span>
                                <span class="pull-right">35pt</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>