<div class="row">
    <div class="col-xs-12 col-md-3 center">
        <div id="photo-item"></div>
        <div id="name-item" class="sl-editable"></div>
        <div class="label label-xlg label-primary arrowed-in arrowed-in-right">
            <span>第一種情報技術者</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-9 row">
        <div id="birthday-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="gender-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="marriage-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="nationality-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="address-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="nearestst-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="experience-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="telno-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="email-item" class="col-xs-12 col-md-6 sl-editable"></div>
        <div id="website-item" class="col-xs-12 col-md-6 sl-editable"></div>
    </div>
</div>

<div class="space-20"></div>

<div class="row portable">

    <div class="col-md-6">        
        <div id="bio-item" class="widget-container-span"></div>

        <div id="language-composite" class="widget-container-span"></div>

        <div id="skill-composite" class="widget-container-span"></div>
    </div>

    <div class="col-md-6">

        <div id="qualification-composite" class="widget-container-span"></div>

        <div id="education-composite" class="widget-container-span"></div>

        <div id="employment-composite" class="widget-container-span"></div>
        
    </div>

</div>
