<div class="profile-info-name">
    <i class="icon-globe"></i>&nbsp;
    個人サイト
</div>
<div class="profile-info-value">
    <div class="sl-value">
        <%
            if (obj.webSite)
                print(obj.webSite);
            else
                print('<span class="text-muted">クリックして編集</span>');
        %>
    </div>
    <div class="sl-editor row form-group">
        <div class="col-sm-12 input-group">
            <span class="input-group-addon">
                <i class="icon-globe bigger-110"></i>
            </span>
            <form>
                <input type="text" class="col-xs-12" placeholder="サイトURL" name="webSite" value="<%- obj.webSite %>">
            </form>
        </div>
    </div>
</div>