<%
    var title,
        icon,
        content;

    if (obj.type == "group-new") {
        title = "新しいグループを立ち上げました";
        icon = "fa-group blue bigger-110";
        content = obj.targetGroup.name;
    }
    else if (obj.type == "group-invited") {
        title = "あなたをグループに招待しました";
        icon = "fa-ticket red bigger-110";
        content = obj.targetGroup.name;
    }
    else if (obj.type == "group-joined") {
        title = "グループに参加しました";
        icon = "fa-sign-in green bigger-110";
        content = obj.targetGroup.name;
    }
    else if (obj.type == "group-refused") {
        title = "グループ招待を拒否しました";
        icon = "fa-sign-out purple bigger-110";
        content = obj.targetGroup.name;
    }
%>

<a href="#group/<%= obj.targetGroup._id %>">
    <img src="<%= obj._from.photo %>" class="msg-photo" alt="">
    <span class="msg-body">
        <span class="msg-title">
            <strong>
                <span class="blue">
                    <%= obj._from.firstName %>&nbsp;
                    <%= obj._from.lastName %>&nbsp;
                </span>
                <%= title %>
            </strong>
            <div class="space-2"></div>
            <i class="ace-icon fa <%= icon %>"></i>
            <%= content %>
        </span>
        <span class="msg-time">
            <i class="ace-icon fa fa-clock-o"></i>&nbsp;<span><% print(moment(obj.createDate).fromNow()) %></span>
            <% if (obj.type == "group-invited") { %>
                <div class="pull-right">
                    <button class="btn btn-minier btn-pink btn-refuse"><i class="ace-icon fa fa-times"></i>&nbsp;拒否</button>
                    <button class="btn btn-minier btn-success btn-join"><i class="ace-icon fa fa-check"></i>&nbsp;参加</button>
                </div>
            <% } else { %>
                <button class="btn btn-minier btn-info btn-acknowledge pull-right"><i class="ace-icon fa fa-check"></i>&nbsp;了解</button>
            <% } %>
        </span>
    </span>
</a>