<%
    var title = "";

    if (obj.type == "job-new") {
        title = "は新しい仕事情報を投稿しました";
    }
    else if (obj.type == "user-job-liked") {
        title = "はあなたの仕事情報に「いいね！」しました";
    }
    else if (obj.type == "job-bookmarked") {
        title = "はあなたの仕事情報にブックマークを付けました";
    }
    else if (obj.type == "user-job-commented") {
        title = "はあなたの仕事情報をコメントしました";
    }
%>

<a href="#<%= obj.link %>">
    <img src="<%= obj._from.photo %>" class="msg-photo" alt="">
    <span class="msg-body">
        <span class="msg-title">
            <span class="blue">
                <%= obj._from.firstName %>&nbsp;
                <%= obj._from.lastName %>&nbsp;
            </span>
            <%= title %>
        </span>
        <span class="msg-time">
            <i class="ace-icon fa fa-clock-o"></i>&nbsp;<span><% print(moment(obj.createDate).fromNow()) %></span>
            <button class="btn btn-minier btn-info btn-acknowledge pull-right"><i class="ace-icon fa fa-check"></i>&nbsp;了解</button>
        </span>
    </span>
</a>