a#menu-toggler.menu-toggler(href="#")
  span.menu-text
#sidebar.sidebar
  ul.nav.nav-list
    li
      a(href="#resume")
        i.icon-file-text-alt
        span.menu-text 私の履歴書
    li
      a(href="#search")
        i.icon-desktop
        span.menu-text 案件探し
    li
      a(href="#timecard")
        i.icon-calendar
        span.menu-text 勤務管理
  #sidebar-collapse.sidebar-collapse
    i.icon-double-angle-left(data-icon1="icon-double-angle-left", data-icon2="icon-double-angle-right")
