<%
    var title = "";

    if (obj.type == "user-job") {
        title = "新しい仕事情報を公開しました";
    }
    else if (obj.type == "user-job-liked") {
        title = "下記仕事情報に「いいね！」しました";
    }
    else if (obj.type == "user-job-bookmarked") {
        title = "下記仕事情報にブックマークを付けました";
    }
    else if (obj.type == "user-job-commented") {
        title = "下記仕事情報をコメントしました";
    }
%>

<div class="timeline-info">
    <a href="#<%= obj.link %>"><img alt="" src="<%= obj._owner.photo %>" /></a>
</div>

<div class="widget-box">
    <div class="widget-header header-color-red widget-header-small">
        <h5 class="smaller">
            <i class="icon-briefcase bigger-110"></i>&nbsp;
            <strong><%= obj._owner.firstName %>&nbsp;<%= obj._owner.lastName %></strong>
            は<%= title %>
        </h5>
        <span class="widget-toolbar no-border">
            <i class="icon-time bigger-110"></i>&nbsp;<%= moment(obj.createDate).fromNow() %>
        </span>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <strong><a href="#job/<%= obj.target._id %>"><%= obj.target.name %></a></strong>
        </div>
    </div>
</div>