<%
    var title = "",
        content = "";

    if (obj.type == "user-friend-invited") {
        title = "お友達になる要請を送信しました";
        content = "にお友達になる要請を送信しました。";
    }
    else if (obj.type == "user-friend-approved") {
        title = "お友達作りました";
        content = "と友達になりました。";
    }
    else if (obj.type == "user-friend-declined") {
        title = "お友達になる要請を拒否しました";
        content = "のお友達になる要請を拒否しました。";
    }
    else if (obj.type == "user-friend-break") {
        title = "お友達を削除しました";
        content = "を友達リストから削除しました。";
    }

%>

<div class="timeline-info">
    <a href="#profile/<%= obj._owner._id %>" title="<%= obj._owner.firstName %>&nbsp;<%= obj._owner.lastName %>">
        <img alt="" src="<%= obj._owner.photo %>" />
    </a>
</div>

<div class="widget-box">
    <div class="widget-header header-color-blue2 widget-header-small">
        <h5 class="smaller">
            <i class="icon-group bigger-110"></i>&nbsp;
            <strong><%= obj._owner.firstName %>&nbsp;<%= obj._owner.lastName %></strong>
            は<%= title %> 
        </h5>
        <span class="widget-toolbar no-border">
            <i class="icon-time bigger-110"></i>&nbsp;<%= moment(obj.createDate).fromNow() %>
        </span>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <a href="#profile/<%= obj._owner._id %>" title="<%= obj._owner.firstName %>&nbsp;<%= obj._owner.lastName %>">
                <strong><%= obj._owner.firstName %>&nbsp;<%= obj._owner.lastName %></strong>
            </a>
            は
            <a href="#profile/<%= obj.target._id %>" title="<%= obj.target.firstName %>&nbsp;<%= obj.target.lastName %>">
                <strong><%= obj.target.firstName %>&nbsp;<%= obj.target.lastName %></strong>
            </a>
            <%= content %>
            <a class="pull-right" href="#profile/<%= obj.target._id %>" title="<%= obj.target.firstName %>&nbsp;<%= obj.target.lastName %>">
                <img src="<%= obj.target.photo %>" style="max-width: 72px;" />
            </a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>